.header {
    &__content {
        .wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            .burger{
              display: none;
            }
        }
        &_top {
            background-color: #2e2c28;
            color: #fff;
            height: 40px;
            font-size: .8125rem;
            position: relative;
            z-index: 9;
        }
        &_middle {
            position: relative;
            background: #fff;
            height: 100px;
        }
    }
    //top
    &__lang {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__links {
        padding: 0 20px;
        display: flex;
        align-items: center;
        padding-left: 114px;
    }
    &__soc {
        margin-left: auto;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    //middle
    &__logo {
        width: 180px;
        height: 53px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__nav {
        display: flex;
        flex-basis: 1;
        margin-right: 20px;
        justify-content: center;
        width: 86%;
    }
    // &__search {
    //     padding-right: 245px;
    // }
    &__contact-block {
        position: absolute;
        right: 20px;
        display: flex;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;
        a {
            align-items: center;
            color: #2e2c28;
            display: inline-flex;
            font-size: 18px;
            font-size: 1.125rem;
            font-weight: 600;
            text-decoration: none;
            white-space: nowrap;
            i {
                color: #a0cf11;
                font-size: 1.375rem;
                margin-right: 5px;
            }
        }
        p {
            color: #756f63;
            font-size: .75rem;
            line-height: 20px;
            line-height: 1.25rem;
            text-align: right;
        }
    }
    &__btn {

    }

}

//elemets-top
.city {
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    span {
        border-bottom: 1px dotted currentColor;
        &:first-child {
            color: #e4c283;
            margin-right: 8px;
            border-bottom: none;
        }
    }
    &__bg-block{
      display: none;
      background: rgba(0, 0, 0, 0.575);
      width: 100vw;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
    }
    &__icon{
      margin: auto;
    }
    &__link_choice{
      background: #fff;
      width: 25%;
      margin: auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    &__icon{
      display: flex;
    }
    &__section_title-city{
      color: #fff;
      font-family: MuseoSans,sans-serif;
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 10px;
      text-align: center;
    }
    &_choise{
      position: relative;
    }
    input{
      margin: 10px 0 10px 18px;
      height: 38px;
      padding: 7px 12px;
      width: 78%;
      font-size: 14px;
      line-height: 1.42857143;
      color: #90bc54;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    &__link_fa{
      position: absolute;
      top: 10px;
      right: 20px;
    }
    &__list{
      border-top: 1px solid #ebebeb;
      overflow: auto;
      height: 50vh;
    }
    &__item{
      padding-left: 40px;
      padding-right: 15px;
      border-bottom: 1px solid #ebebeb;
      line-height: 50px;
      height: 50px;
      cursor: pointer;
      &:hover{
        background: #a0cf11;
        position: relative;
        &::after{
          content: '';
          background: url(/img/check.png);
          background-repeat: no-repeat;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 17px;
          right: 20px;
        }
      }
    }
    &__description{
      padding: 25px 40px;
    }

    &__item_link{
      color: #000;
      font-size: 18px;
    }
    &__descr-bottom{
      font-size: 20px;
      line-height: 24px;
      color: #2c2c28;
    }
    &__descr-bottom-descr{
      color: #2c2c28;
      font-size: 10px;
      line-height: 10px;
    }

  .fa.fa-location-dot{
    display: none;
  }
    .fa-chevron-down {
        color: #e4c283;
        margin-left: 6px;
    }

    &:hover {
        span {
            border-bottom: none;
        }
    }
}

.addresses {
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    i {
        color: #e4c283;
        margin-left: 30px;
        margin-right: 6px;
    }
    p {
        border-bottom: 1px dotted currentColor;
    }
    &:hover {
        p {
            border-bottom: none;
        }
    }
}

.mail {
    display: flex;
    align-items: center;
    color: #a0cf11;
    transition: 0.3s ease;
    i {
        color: #e4c283;
        margin-left: 30px;
        margin-right: 6px;
    }
    p {
        border-bottom: 1px dotted white;
    }
    &:hover {
        p {
            border-bottom: none;
        }
    }
}

.soc {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    a {
        color: rgba(255,255,255,.4);
        transition: 0.3s ease;
        &:not(:first-child) {
            margin-left: 30px;
        }
        &:hover {
            color: rgba(255,255,255,.8);
        }
    }
}
//elemets-top-end


@media (max-width: 1320px) {
  .header__content .wrapper .burger{
    display: block;
    color: #fff;
    font-size: 30px;
    margin-left: 10px;
  }
  .header__lang {
    left: 50px;
  }
  .addresses>p{
    display: none;;
  }
  .soc{
    display: none;
  }
  .header__fa_mobile{
    display: none;
  }
}


@media (max-width: 900px){
  .header{
    .header__contact-block{
      display: block;
      text-align: center;
    }
    .header__content_middle  .wrapper{
      display: grid;
    }
    .header__content  .header__logo,
    .header__content  .header__contact-block{
      position: relative;
      margin: auto;
      right: auto;
      text-align: center;
      left: auto;
      padding-bottom: 20px;

    }
    .header__content  .header__nav{
      margin: auto;
      padding-bottom: 20px;

    }
    .header__content  .header__contacts{
      margin: auto;
      padding-bottom: 20px;
      padding-right: 0px;
    }
    .header__content_middle {
      height: auto;
      padding: 20px 0;
    }
  }
}

@media (max-width: 630px){
  .header{
    .lang__title>p{
      display: none;
    }
    .city>span{
      display: none;
    }
    .fa.fa-location-dot{
      display: block;
    }
    .header__fa_mobile{
      display: block;
    }
    .fa.fa-location-dot{
      color: #e4c283 !important;
    }
  }
}
