.benefits{
  &__section_title{
    color: #353530;
    font-size: 36px;
    margin-bottom: 100px;
    font-weight: 300;
    text-align: right;
  }
  &__section_title_bottom{
    display: none;
  }
  &__block{
    display: flex;
  }
  &__block_left{
    width: 41%;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__block_left_title{
    margin-bottom: 40px;
    text-align: center;
    color: #353530;
    font-size: 16px;
    line-height: 1.2;
  }
  &__block_title{
    font-size: 20px;
    color: #212529;
    text-align: left;
    line-height: 26px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  &__block_left_border{
    border-top: 1px solid #7f7f78;
    border-style: solid;
    border-right: 1px solid #7f7f78;
    width: 100%;
    border-left: 1px solid #7f7f78;
    height: 16px;
  }
  &__block_left_border-top{
    border-bottom: 1px solid #7f7f78;
    border-style: solid;
    border-right: 1px solid #7f7f78;
    width: 100%;
    border-left: 1px solid #7f7f78;
    height: 16px;
  }
  &__block_list{
    padding: 30px 20px;
  }
  &__block_item,
  &_block_left_item{
    margin-bottom: 35px;
  }
  &_block_left_item:last-child{
    margin-bottom: 0;
  }
  &__block_choice{
    display: flex;
  }
  &__block_descr{
    color: #353531;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }
  &__block_right{
    position: relative;
    width: 59%;
    height: 874px;
    background: url(/img/technology.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 73%;
    padding-bottom: 185px;
  }
  &__block_one{
    position: absolute;
    left: 100px;
  }
  &__block_two{
    position: absolute;
    right: 0;
    top: 17%;
  }
  &__block_three{
    position: absolute;
    right: 22%;
    bottom: 113px;
  }
}
@media (max-width:1320px){
  .benefits__section_title{
    display: none;
  }
  .benefits__section_title_bottom{
    display: block;
    color: #353530;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 300;
    text-align: inherit;
    margin-left: 20px;
  }
  .benefits__block{
    display: block;
  }
  .benefits__block_left{
    width: 100%;
  }
  .benefits__block_right{
    display: flex;
    position: inherit;
    padding-left: 40px;
    height: 278px;
    background-size: 100%;
    width: 100%;
  }
  .benefits__block_one,
  .benefits__block_two,
  .benefits__block_three{
    position: inherit;
    margin-right: 5px;
  }
}
@media (max-width:479px){
  .benefits__section_title{
    display: none;
  }
  .benefits__block_left{
    margin-bottom: 30px;
  }
  .benefits__section_title_bottom{
    display: block;
    color: #353530;
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 300;
    text-align: inherit;
  }
  .benefits__block_right{
    display: block;
    padding-left: 20px;
    width: 100%;
    height: 1222px;
    background-size: 100%;
  }
  .benefits__block_one,
  .benefits__block_two{
    margin-bottom: 30px;
    width: 100%;
  }
  .benefits__block_choice{
    margin-bottom: 40px;
  }
}
