.certificate{
  background: #eff0f2;
  &:before{
    content: '';
    background: url("/img/marks.png");
    display: block;
    position: absolute;
    right: 64px;
    width: 186px;
    height: 135px;
  }
  &__block_bg{
    background: #eff0f2;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
  }
  &__block_sert{
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
  }
  &__block_description{
    width: 38%;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__block_title{
    font-size: 36px;
    margin-bottom: 55px;
    font-weight: 300;
  }
  &__block_descr{
    color: #353530;
    max-width: 400px;
    font-size: 16px;
  }
}
@media (max-width:1320px){
  .certificate__block_bg{
    display: block;
  }
  .certificate__block_sert{
    margin-bottom: 40px;
  }
  .certificate__block_description{
    width: 100%;
    background: url(/img/benefits1.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40%;
  }
  .certificate__block_title {
    width: 75%;
  }
}
@media (max-width:479px){
  .certificate__block_title {
    display: none;
  }
  .certificate__block_description {
    width: 100%;
    background: none;
  }
  .certificate:before{
    width: 130px;
    height: 100px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    right: 0;
  }
}
