.dealer{
  margin-bottom: 160px;
  &__section_title{
    margin-bottom: 60px;
    color: #353530;
    font-size: 36px;
    font-weight: 300;
  }
  &__block{
    display: flex;
  }
  &__block_descr,
  &__block_img{
    width: 50%;
  }
  &__block_descr{
    margin-right: 40px;
  }
  &__block_img.mobile{
    display: none;
  }
  p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #2c2c28;
    text-indent: 55px;
  }
  .big{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
    text-indent: 55px;
  }
}
@media (max-width:1320px){
  .dealer{
    margin-bottom: 100px;
  }
  .dealer__section_title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  .dealer__block{
    display: block;
  }
  .dealer__block_descr{
    margin-right: 0;
    width: 100%;
  }
  .dealer__block_img{
    display: none;
  }
  .dealer__block_img.mobile{
    width: 100%;
    display: block;
  }
  .dealer__block_img img{
    width: 100%;
  }
}
@media (max-width:479px){
}
