.geography{
  // display: flex;
  &__block{
    display: flex;
  }
  &__info{
    width: 50%;
    background: #fff;
    padding: 20px 30px 0;
  }
  // &__geo{
  //   width: 50%;
  // }
  &__section-title{
    color: #2c2c28;
    font-family: MuseoSans,sans-serif;
    font-size: 36px;
  }
  &__left_link.active{
    border-bottom: 2px solid #bc9959;
    padding-bottom: 4px;
    color: #bc9959;
    line-height: 34px;
    margin-right: 20px;
  }
  &__right_link{
    // border-bottom: 2px solid #9c9993;
    padding-bottom: 5px;
    color: #9c9993;
    font-size: 15px;
    font-weight: 600;
    line-height: 34px;
  }
  &__list{
    display: none;
  }
  &__list{
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background-color: #fff;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(44,44,40,.1);
      border-radius: 3px;
    }
  }
  &__list.active{
    display: block;
    height: 131px;
    overflow: auto;
    outline: none;
  }
  &__item{
    border-bottom: 1px solid #f7f7f7;
    padding: 15px 15px;
    &:hover{
      background: #f7f7f7;
    }
  }
  &__item-address{
    color: #2e2c28;
    font-family: MuseoSans,sans-serif;
    font-size: 15px;
  }
  &__item-time{
    color: #9c9993;
    font-family: OpenSans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 13px;
  }
  &__general-block{
    display: flex;
  }
  .header__search{
    position: relative;
  }
  button{
    position: absolute;
    right: 0px;
    top: 11px;
    color: #bc9959;
    font-size: 16px;
    border: 0;
  }
  .wrapper{
    display: flex;
    width: 1320px;
  }
  &__geo{
    width: 50%;
  }
}


@media (max-width:1320px){
  .geography__info{
    display: none;
  }
  .geography__geo{
    width: 100%;
  }
  .geo_map{
    width: 100%;
  }
}
