.logo {
    display: block;
    background-image: url(../img/logo.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}