.product{
  &__section_title{
    font-size: 44px;
    font-weight: 200;
    margin-bottom: 20px;
  }
  &__center{
    display: flex;
  }
  &__slider_left{
    width: 66%;
    margin-right: 40px;
  }
  &__description_right{
    width: 34%;
    position: relative;
  }
  &__description_title{
    font-size: 18px;
    color: #2e2c28;
    margin-bottom: 10px;
  }
  &__description_border{
    border-bottom: 1px solid #efeeeb;
    position: absolute;
    right: 0;
    width: 61%;
    top: 15px;
  }
  &__description_border_center{
    border-bottom: 1px solid #efeeeb;
    position: absolute;
    right: 0;
    width: 47%;
    top: 15%;
  }
  &__description_border-bottom{
    border-bottom: 1px solid #efeeeb;
    position: absolute;
    right: 0;
    width: 10%;
    bottom: 38.5%;
  }
  &__description_list{
    display: flex;
    flex-wrap: wrap;
  }
  &__description_item{
    display: flex;
    margin-bottom: 10px;
    width: 50%;
  }
  &__description_img{
    margin-right: 20px;
    width: 38px;
    height: 38px;
    object-fit: contain;
  }
  &__description_choice_top{
    color: #9c9993;
    font-size: 13px;
  }
  &__description_choice_bottom{
    font-size: 15px;
    color: #47443e;
    font-weight: 700;
    sup{
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: revert;
    }
  }
  .catalog__container_languages{
    margin-bottom: 20px;
  }
  .catalog__container_descr-choice{
    font-size: 16px;
  }
  .catalog__container_link-choice{
    margin-right: 5px;
  }
  .header__btn{
    margin-bottom: 30px;
  }
  &__description_input{
    margin-bottom: 30px;
  }
  input[type=radio]{
    display: none;
  }
  label{
    padding-bottom: 20px;
    color: #2e2c28;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  input[type=radio] + label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #d5d3d0;
    border-radius: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 10px;
  }
  input[type=radio]:checked+label::before {
    background-color: #a0cf11;
    border-radius: 100%;
    outline-offset: 2px;
    outline: 2px solid #ebebe8;
  }
  .btn_brown{
    background: #bc9959;
    border: 2px solid #bc9959;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    text-transform: inherit;
  }
  &__description_group{
    margin-bottom: 30px;
  }
  &__description_group-descr{
    font-size: 18px;
    font-weight: 700;
    color: #2e2c28;
    margin-bottom: 10px;
  }
  &__description_group-price{
    font-size: 59px;
    line-height: 60px;
    color: #212529;
    font-weight: 700;
  }
  &__description_button{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .header__btn{
      .btn_green{
        padding: 27px 89px;
        margin-bottom: 21px;
        margin-right: 21px;
      }
      .btn_brown{
        text-transform: uppercase;
      }
      .btn_transparent{
        border: 2px solid #ebebe8;
        background: transparent;
      }
    }
  }
  &__general{
  }
  &__general_list{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #efeeeb;
    margin-bottom: 10px;
  }
  &__general_item{
    margin-right: 33px;
  }
  &__general_item:last-child{
    margin-right: 0;
  }
  &__general_link{
    border-bottom: 2px solid #efeeeb;
    padding-bottom: 4px;
    color: #9c9993;
    line-height: 34px;
    font-size: 18px;
    transition: color .3s cubic-bezier(.645,.045,.355,1),border .3s cubic-bezier(.645,.045,.355,1),background .3s cubic-bezier(.645,.045,.355,1),box-shadow .3s cubic-bezier(.645,.045,.355,1),-webkit-box-shadow .3s cubic-bezier(.645,.045,.355,1);
    &:hover{
      border-bottom: 2px solid #bc9959;
      color: #bc9959;
    }
  }
  &__general_link.active{
    border-bottom: 2px solid #bc9959;
    color: #bc9959;
  }
  &__general_description_descr{
    margin-bottom: 20px;
  }
  &__general_description{
    display: none;
  }
  &__general_description.active{
    display: block;
  }
  &__general_layout{
    display: none;
  }
  &__general_layout.active{
    display: block;
  }
  &__general_equipment{
    display: none;
  }
  &__general_equipment.active{
    display: block;
  }
  &__general_options{
    display: none;
  }
  &__general_options.active{
    display: block;
  }
  &__general_equipment_table{
    margin-bottom: 50px;
    border-bottom: 2px solid #dee2e6;
  }
  &__general_equipment_row-th{
    background-color: #72a925;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    vertical-align: top;
    border-bottom: 0;
    &__general_equipment_left{
      border: 2px solid #dee2e6;
    }
    &__general_equipment_right{
      border: 2px solid #dee2e6;
    }
  }
  &__general_equipment_row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    vertical-align: top;
    border-bottom: 0;
  }
  &__general_equipment_left{
    grid-column: 1;
    grid-row: 1 / 500;
    padding: 0.75rem;
    border: 2px solid #dee2e6;
    border-right: 0;
    border-bottom: 0;
  }
  &__general_equipment_right{
    padding: 0.75rem;
    border: 2px solid #dee2e6;
    border-bottom: 0;
  }
  &__general_options_label{
    display: grid;
    margin-top: 35px;
    margin-left: 62px;
  }
  .catalog__filter_label-input{
    position: absolute;
    right: 0;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    padding: 0 5px;
  }
  .product__description_input label:hover .catalog__filter_label-input{
    background: #a0cf11;
    border-radius: 10px;
  }
  input[type=checkbox]{
    display: none;
  }
  .product__description_right label{
    padding-right: 50%;
  }
  label{
    padding-bottom: 15px;
    font-weight: 400;
    width: 100%;
    color: #2e2c28;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    position: relative;
  }
  label:hover::before{
    border-color: #a0cf11;
    background-color: #a0cf11;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

  }
  label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #d5d3d0;
    border-radius: 4px;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 10px;
    :hover{
      border-color: #a0cf11;
      background-color: #a0cf11;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
  input[type=checkbox]:checked+label::before {
    border-color: #a0cf11;
    background-color: #a0cf11;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    :hover{
      border-color: #a0cf11;
      background-color: #a0cf11;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
  }
  &__general_options_foundation{
    margin-left: 17px;
  }
  &__general_options_foundation_choice{
    display: flex;
    margin-bottom: 20px;
    position: relative;
  }
  &__general_options_foundation_images{
    width: 35px;
    height: 35px;
    object-fit: contain;
    background: #fff;
  }
  &__general_options_foundation_border{
    border-bottom: 1px solid #efeeeb;
    width: 98%;
    position: absolute;
    top: 16px;
    z-index: -1;
  }
  &__general_options_foundation_title{
    font-size: 18px;
    font-weight: 700;
    color: #2e2c28;
    padding-left: 10px;
    background: #fff;
    padding-right: 10px;
  }
  &__general_options_foundation_arrow{
    background: #fff;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 19px;
  }
  .invisible &__general_options_foundation_arrow{
    transform: rotate(180deg);
  }
  &__general_options_foundation_input{
    display: grid;
    padding-left: 45px;
  }
  .invisible &__general_options_foundation_input{
   display: none;
  }
  &__general_options_foundation_info{
    display: none;
  }
  input[type=checkbox]:checked+label+.product__general_options_foundation_info {
    display: block;
    padding: 22px;
    background: #f5f5dc;
    font-size: 15px;
    margin-bottom: 40px;
  }
  .product__description_right{
    .product__general_options_label{
      margin-left: 0;
      margin-top: 50px;

    }
    input[type=checkbox]+label{
      display: none;
    }
    input[type=checkbox]:checked+label{
      display: block;
    }
    .product__general_options_foundation{
      margin-left: 0;
      display: none;
    }
    .product__general_options_foundation_images{
      display: none;
    }
    .product__general_options_foundation_input{
      padding-left: 0;
    }
    .product__general_options_foundation_info{
      padding: 22px;
      background: #f5f5dc;
      font-size: 15px;
    }
  }


}
.product__slider_img-list {
  display: flex;
  margin-bottom: 46px;
  .slick-slider {
    width: 85%;
  }
  .slick-slider.slick-active {
    width: 85%;
    border: 5px solid rgb(160, 207, 17);
  }
  .slick-slider.slick-vertical {
    width: 15%;
    margin-right: 20px;
    height: 100%;
    .slick-prev {
      background: url(../img/product-slider-arrow-bg.png);
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      right: auto;
      height: 49px;
      width: 100%;
      left: 0;
      z-index: 1;
      transform: rotate(180deg);
      &::before{
        content: '';
        background: url(../img/product-slider-arrow.png);
        background-repeat: no-repeat;
        width: 24px;
        height: 16px;
        display: block;
        margin: auto;
      }
    }
    .slick-next {
      background: url(../img/product-slider-arrow-bg.png);
      background-repeat: no-repeat;
      position: absolute;
      right: auto;
      top: auto;
      bottom: 0;
      z-index: 1;
      transform: rotate(0deg);
      height: 49px;
      width: 100%;
    }
    .slick-next {
      &::before{
        content: '';
        background: url(../img/product-slider-arrow.png);
        background-repeat: no-repeat;
        width: 24px;
        height: 16px;
        display: block;
        margin: auto;
      }
    }
    .slick-slide{
      margin-bottom: 5px;
      position: relative;
      margin-right: 7px;

    }
    .slick-slide.slick-current{
      outline: 5px solid #a0cf11;
      outline-offset: -5px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -7px;
        top: 50%;
        width: 0;
        height: 0;
        margin-top: -4px;
        border-top: 7px solid transparent;
        border-left: 7px solid #a0cf11;
        border-bottom: 7px solid transparent;
      }
    }
    .slick-slide:hover{
      outline: 5px solid #a0cf11;
      outline-offset: -5px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: -7px;
        top: 50%;
        width: 0;
        height: 0;
        margin-top: -4px;
        border-top: 7px solid transparent;
        border-left: 7px solid #a0cf11;
        border-bottom: 7px solid transparent;
      }
    }

  }
  .your-class2{
    .slider-list-garden{
      width: 100%;
    }
  }

}
@media (max-width:1320px){
  .product{
    padding-left: 20px;
    padding-right: 20px;
  }
  .product__general{
    margin-left: 20px;
  }
  .product__general_list{
    flex-wrap: wrap;
  }
  .product__general_options_label{
    margin-left: 47px;
  }
  .product label{
    font-size: 13px;
    padding-right: 100px;
  }
  .product .catalog__filter_label-input{
    font-size: 13px;
  }
  .product__description_group-price{
    font-size: 50px;
  }
  .slider-list-bg{
    padding-left: 20px;
    padding-right: 20px;
  }
  .slider-list__list-title{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .slider-list-item{
    width: 40% !important;
  }
  .slider-list-bg .header__btn{
    display: block !important;
  }
}
@media (max-width:700px){
  .product__section_title{
    font-size: 30px;
  }
  .product__center{
    display: block;
  }
  .product__slider_left{
    width: 100%;
    margin-right: 0;
  }
  .product__general{
    margin-left: 0;
  }
  .product__general_options_foundation{
    margin-left: 0;
  }
  .product__description_right{
    width: 100%;
  }
  .product .btn_brown{
    width: 100%;
    padding: 21px 220px;
  }
  .product label{
    font-size: 15px;
    font-weight: 700;
  }
  .slider-list-item{
    width: 100% !important;
  }
  .product__slider_img-list{
    align-items: stretch;
  }
  .your-class2{
    width: 70% !important;
    height: 100%;
    overflow: hidden;
  }
  .your-class{
    width: 30% !important;
  }
}
