.slider-suggestions{
  padding-bottom: 70px;
  position: relative;
  .wrapper{
    overflow: hidden;
  }
  .section-suggestions__section-title{
    font-weight: 100;
    color: #2c2c28;
    font-size: 36px;
    padding-bottom: 19px;
  }
  .slider__click{
    background: transparent;
    height: 20px;
    left: auto;
    right: 0;
    top: 26px;
    padding: 6px;
    position: absolute;
    display: flex;
    align-items: center;
  }
  .click-gray{
    border-width: 2px;
    height: 18px;
    width: 18px;
    border: 1px solid #bc9959;
    border-radius: 20px;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
  }
  .click-gray.active{
    height: 11px;
    width: 11px;
    border-width: 3px;
    background: #bc9959;
    outline-offset: 2px;
    outline: 2px solid #bc9959;
  }
  .fa-solid.fa-chevron-left{
    color: #bc9959;
    font-size: 1rem;
    padding-right: 16px;
    cursor: pointer;
  }
  .fa-solid.fa-chevron-right{
    color: #bc9959;
    font-size: 1rem;
    cursor: pointer;
  }
  &__block-suggestions{
    display: flex;
    height: 32vw;
    transition-duration: 0.3s;
  }
  .suggestions-list{
    min-width: calc(25vw - 25px);
    height: 100%;
    margin-right: 25px;
  }
  .suggestions-backgraund{
    margin-bottom: 25px;
    position: relative;
    height: 190px;
    overflow: hidden;
  }
  .suggestions-triangle{
    display: none;
    border-color: transparent transparent #a0cf11;
    border-style: solid;
    border-width: 0 0 20px 20px;
    bottom: 5px;
    height: 0;
    position: absolute;
    right: 5px;
    width: 22px;
    z-index: 6;
  }
  .suggestions-backgraund:hover{
    .suggestions-triangle{
      display: block;
    }
  }
  .suggestions-link{
    font-size: 20px;
    color: #47443e;
    font-weight: 900;
    line-height: 1.75rem;
    padding-bottom: 5px;
  }
  .suggestions-link>p{
    height: 56px;
  }
  .suggestions-span{
    font-size: 18px;
    color: #bc9959;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .suggestions-border{
    border-top: 1px solid #e9e7e2;
    width: 40px;
    padding-bottom: 15px;
  }
  .suggestions-description-link{
    display: flex;
  }
  .suggestions-item{
    display: flex;
    padding-right: 12px;
  }
  .suggestions-item:last-child{
    padding-right: 0;
  }
  .fa-regular.fa-arrows-up-down-left-right{
    padding-right: 5px;
  }
  .icon-descr{
    font-size: 13px;
    color: #47443e;
    font-weight: 600;
  }
  .suggestions-list-border .suggestions-info{
    padding: 20px;
    background: url(/img/stroy.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .suggestions-des{
    font-size: 22px;
    color: #bc9959;
    font-weight: 500;
    padding-bottom: 18px;
  }
  .suggestions-info-descr{
    font-size: 34px;
    line-height: 34px;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: 700;
    color: #2c2c28;
  }
  .btn_brown{
    background: #b38d48;
    color: #fff;
  }
  // .suggestions-images-bg{
  //   content: "img/stroy.jpg";
  //   background-size: 100%;
  //   background-repeat: no-repeat;
  // }
  .suggestions-list-border{
    outline: 10px solid #bc9959;
    outline-offset: -10px;
  }
}


@media (max-width:1320px){
  .slider-suggestions .suggestions-list{
    min-width: calc(28vw - 25px);
  }
  .suggestions-images{
    height: 100%;
  }
  .slider-suggestions .slider__click {
    right: auto;
    margin: 0 auto;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider-suggestions__block-suggestions{
    height: 50vw;
  }
  .suggestions-link p{
    font-size: 15px;
  }
  .suggestions-span{
    font-size: 10px!important;
    margin-top: 30px;
  }
}
