.slider-list{
  padding-top: 61px;
  padding-bottom: 80px;
  background: #f7f7f7;
  margin-bottom: 74px;

  // &__list-section{

  // }
  &__list-title{
    display: flex;
    flex-wrap: wrap;
  }
  .slider-list-item{
    max-width: 433px;
    margin-right: 7px;
    position: relative;
    padding-bottom: 7px;
  }
  .slider-list-item:nth-child(3n){
    margin-right: 0px;
  }
  // .slider-list-item:first-child{
  //   padding: 1px 135px 90px 0;
  // }
  .slider-list-garden{
    display: none;
  }
  .slider-list-garden.active{
    display: block;
  }
  .slider-list-descr{
    font-size: 22px;
    font-weight: 500;
    color: #bc9959;
    padding-bottom: 5px;
  }
  .slider-list-desc{
    font-size: 44px;
    font-weight: 700;
    font-style: italic;
    line-height: 44px;
    padding-bottom: 66px;
  }
  .slider-item-block-text{
    position: absolute;
    bottom: 32px;
    padding-left: 37px;
  }
  .slider-list-text{
    color: #fff;
    font-weight: 900;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .slider-list-description{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
  }
  .slider-list-span{
    color: #a0cf11;
  }
  .slider-list-garden{
    height: 100%;
  }
}
