.slider-list{
  padding-top: 61px;
  padding-bottom: 80px;
  background: #f7f7f7;
  margin-bottom: 74px;

  // &__list-section{

  // }
  &__list-title{
    display: flex;
    flex-wrap: wrap;
  }
  .slider-list-item{
    max-width: 433px;
    margin-right: 7px;
    position: relative;
    margin-bottom: 7px;
  }
  .slider-list-item:not(:first-child):after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.6));
    position: absolute;
    top: 0px;
  }
  .slider-list-item:nth-child(3n){
    margin-right: 0px;
  }
  // .slider-list-item:first-child{
  //   padding: 1px 135px 90px 0;
  // }
  .slider-list-garden{
    display: none;
  }
  .slider-list-garden.active{
    display: block;
  }
  .slider-list-descr{
    font-size: 22px;
    font-weight: 500;
    color: #bc9959;
    padding-bottom: 5px;
  }
  .slider-list-desc{
    font-size: 44px;
    font-weight: 700;
    font-style: italic;
    line-height: 44px;
    padding-bottom: 66px;
  }
  .slider-item-block-text{
    position: absolute;
    bottom: 32px;
    padding-left: 37px;
    z-index: 1;
  }
  .slider-list-text{
    color: #fff;
    font-weight: 900;
    padding-bottom: 10px;
    font-size: 30px;
  }
  .slider-list-description{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
  }
  .slider-list-span{
    color: #a0cf11;
  }
  .slider-list-garden{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .slider-list-item.mobile{
    display: none;
    min-width: 100%;
    .b-title__description{
      font-size: 13px;
      padding-bottom: 20px;
    }
    .slider-list-desc {
      padding-bottom: 10px;
      font-size: 28px;
      font-family: 'PFRegalTextPro-BoldItalic',sans-serif!important;
    }
    .slider-list-descr {
      font-size: 14px;
      padding-bottom: 0;
    }
  }
}

@media (max-width:1320px){
  .slider-list {
    background: #fff;
    padding: 20px;
    .slider-list__list-title {
    }
    .slider-list-item {
      width: 50%;
    }
    .slider-list-item:nth-child(3n) {
      margin-right: 7px;
    }
    .slider-list-item:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media (max-width:800px){
  .slider-list {
    .slider-list__list-title {
    flex-wrap: nowrap;
    overflow: auto;
    }
    .slider-list-item {
      min-width: 433px;
    }
    .slider-list__list-title .slider-list-item:first-child {
      display: none;
    }
    .slider-list-item.mobile{
      display: block;
    }
    .slider-list-item:nth-child(3n) {
      margin-right: 7px;
    }
    .slider-list-item:nth-child(2n) {
      margin-right: 7px;
    }
  }
}
