.us-say{
  &__section_title{
    color: #353530;
    font-size: 36px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 80px;
  }
  &__block{
    display: flex;
    background: url("/img/us-say.jpg") left bottom no-repeat;
    height: 803px;
  }
  &__block_left,
  &__block_right{
    background-color: rgba(240,238,239,0.85);
    padding: 60px 60px 40px;
    max-height: 545px;
  }
  &__block_left{
    margin-right: 40px;
  }
  &__block_title{
    border-bottom: 2px solid #b5bbbe;
    margin-bottom: 60px;
    padding: 0 60px 25px 0;
    color: #5c676d;
    font-size: 26px;
    line-height: 32px;
    font-weight: 600;
  }
  @media (max-width:1320px){
    &__section_title{
      font-size: 30px;
      text-align: left;
      margin-bottom: 20px;
    }
    &__block {
      height: auto;
      flex-wrap: wrap;
      &_left,
      &_right {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
      }
      &_left iframe,
      &_right iframe {
        width: auto;
      }
      &_title {
        padding: 0 0px 25px 0;
      }
    }
  }
  @media (max-width:479px){
    &__section_title{
      font-size: 30px;
      text-align: left;
      margin-bottom: 20px;
    }
    &__block {
      height: auto;
      flex-wrap: wrap;
      &_left,
      &_right {
        padding: 0;
        padding-left: 16px;
        padding-right: 16px;
      }
      &_left iframe,
      &_right iframe {
        width: 100%;
      }
      &_title {
        padding: 30px 15px;
        margin-bottom: 35px;
        text-align: left;
        font-size: 30px;
      }
    }
  }
}
