<section class="about-proizvodstvo">
  <div class="wrapper">
    <div class="about-proizvodstvo__white">
      <div class="about-proizvodstvo__white-list">
        <h2 class="about-proizvodstvo__section_title">
          Производство
        </h2>
        <p> Компания "ТопсХаус" с 2009 года занимается производством, проектированием и строительством дачных и садовых домов, бань, гаражей, беседок и иных строений из профилированного бруса.</p>
      </div>
      <img src="/img/about-proizvodstvo-white.webp">
    </div>
    </h2>
    <div class="about-proizvodstvo__gray">
      <img src="/img/about-proizvodstvo-gray.webp">
      <div class="about-proizvodstvo__gray-list">
        <p>Залогом успеха компании стали:</p>
        <div>
          <p><span>1</span>Собственное
            высокотехнологичное
            производство</p>
          <p><span>2</span>Широкая
            дилерская сеть</p>
          <p><span>3</span>Безукоризненное
            соблюдение
            высоких стандартов
            сборки строений</p>
          <p><span>4</span>Лучшее
            ценовое предложение
            в своем сегменте</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about-company-bottom.jpg -->
