<section class="about">
  <div class="wrapper">
    <h2 class="about__section_title">
      О компании
    </h2>
    <div class="about__company">
      <div class="about__company_left">
        <div class="about__company_border">
          <p class="about__company_descr">
            Мечтаете о собственном доме? Но не знаете с чего начать?
          </p>
        </div>
      </div>
      <div class="about__company_right">
        <div class="about__company_right_descr">
          <p class="description about__company_desc">
            Компания «ТопсХаус» — лучшее место для покупки загородного деревянного дома. Уже более 10 лет мы производим и строим дома из профилированного бруса. За это время мы получили необходимый опыт и знания, чтобы предлагать нашим клиентам качественную продукцию за разумные деньги.
          </p>
          <p class="about__company_title">
            Вы обязательно найдёте у нас то, что Вам нужно
          </p>
          <p class="description about__company_desc">
            Основное направление деятельности компании «ТопсХаус» — проектирование, производство и строительство дачных и садовых домов. В нашем каталоге представлено более 300 типовых проектов.
          </p>
          <p class="description about__company_desc">
            Помимо деревянных <a class="about__company_link" href="#">загородных домов и коттеджей</a>, мы возводим: уютные
            <a class="about__company_link" href="#">садовые</a> и <a class="about__company_link" href="#">дачные домики под ключ</a>
            <a class="about__company_link" href="#">беседки</a> <a class="about__company_link" href="#">навесы</a> <a class="about__company_link" href="#">гаражи</a>
            , разнообразные <a class="about__company_link" href="#">хозяйственные постройки</a> <a class="about__company_link" href="#">бани</a>
          </p>
          <p class="description about__company_desc">
            Широкая сеть филиалов по всей России — от Калининграда и до Владивостока.
          </p>
        </div>
        <div class="about__company_bg">
          <!-- about-company-top.jpg -->
        </div>
      </div>
    </div>
    <div class="about__company_bottom">
      <div class="about__company_bottom_bg"></div>
      <ul class="about__company_list">
        <li class="about__company_item">
          <img class="images_nuber" src="/img/number1.webp">
          <p class="about__company_description">
            лет опыта строительства
          </p>
        </li>
        <li class="about__company_item">
          <img class="images_nuber" src="/img/number2.webp">
          <p class="about__company_description">
            монтажных бригад
          </p>
        </li>
        <li class="about__company_item">
          <img class="images_nuber" src="/img/number3.webp">
          <p class="about__company_description">
            тысяч объектов построено
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- about-company-bottom.jpg -->
