<section class="benefits">
  <div class="wrapper">
    <h2 class="benefits__section_title">
      Преимущества технологии
    </h2>
    <div class="benefits__block">
      <div class="benefits__block_left">
        <p class="benefits__block_left_title">
          Мы производим дома из бруса:
        </p>
        <div class="benefits__block_left_border"></div>
        <ul class="benefits__block_list">
          <li class="benefits__block_item">
            <p class="benefits__block_title">
              из профилированного бруса
            </p>
            <div class="benefits__block_choice">
              <p class="benefits__block_descr">
                Профилированный брус — высокотехнологичный строительный материал, как правило изготовленный из древесины хвойной породы: сосны, ели, лиственницы.
                Брус называется профилированным из-за наличия специальных замковых соединений, по которым его отличают от простого строительного материала.
              </p>
              <img src="/img/benefits1.webp" alt="картинка бруса">
            </div>
          </li>
          <li class="benefits__block_left_item">
            <p class="benefits__block_title">
              из профилированного бруса
            </p>
            <div class="benefits__block_choice">
              <p class="benefits__block_descr">
                Профилированный брус — высокотехнологичный строительный материал, как правило изготовленный из древесины хвойной породы: сосны, ели, лиственницы.
                Брус называется профилированным из-за наличия специальных замковых соединений, по которым его отличают от простого строительного материала.
              </p>
              <img src="/img/benefits1.webp" alt="картинка бруса">
            </div>
          </li>
          <li class="benefits__block_left_item">
            <p class="benefits__block_title">
              из профилированного бруса
            </p>
            <div class="benefits__block_choice">
              <p class="benefits__block_descr">
                Профилированный брус — высокотехнологичный строительный материал, как правило изготовленный из древесины хвойной породы: сосны, ели, лиственницы.
                Брус называется профилированным из-за наличия специальных замковых соединений, по которым его отличают от простого строительного материала.
              </p>
              <img src="/img/benefits1.webp" alt="картинка бруса">
            </div>
          </li>
        </ul>
        <div class="benefits__block_left_border-top"></div>
      </div>
      <div class="benefits__block_right">
        <div class="benefits__block_one">
          <img src="/img/block-info1.webp" alt="картинка бруса">
        </div>
        <div class="benefits__block_two">
          <img src="/img/block-info2.webp" alt="картинка бруса">
        </div>
        <div class="benefits__block_three">
          <img src="/img/block-info3.webp" alt="картинка бруса">
        </div>
      </div>
    </div>
  </div>
</section>
