<section class="blog">
  <div class="wrapper">
    <h2 class="blog__section_title">
      Блог
    </h2>
    <div class="blog__choice">
      <div class="blog__choice_left">
        <div class="blog__choice_item">
          <div class="inside_top">
            <div class="blog__choice_top_invisible">
              <div class="item_hovered">
                <img src="/img/item-hovered.png">
              </div>
              <p class="invisible_descr">
                В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
              </p>
            </div>
            <img src="img/blog-home1.webp" alt="">
          </div>
          <div class="inside_left_bottom">
            <a class="big_bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
            <time class="blog__choice_time">16 Декабря 2021</time>
            <p class="blog__choice_descr">
              В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
              от сложности технологии, и до не самых лучших...
            </p>
            <a class="bottom_readmore" href="#">Читать полностью »</a>
          </div>
        </div>
        <div class="blog__choice_inside">
          <div class="blog__choice_inside_left">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                </div>
                <img src="img/blog-home1.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
          <div class="blog__choice_inside_right">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                  <p class="invisible_descr">
                    В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
                  </p>
                </div>
                <img src="img/blog-home2.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blog__choice_inside">
          <div class="blog__choice_inside_left">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                </div>
                <img src="img/blog-home1.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
          <div class="blog__choice_inside_right">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                  <p class="invisible_descr">
                    В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
                  </p>
                </div>
                <img src="img/blog-home2.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
        </div>
        <div class="blog__choice_inside">
          <div class="blog__choice_inside_left">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                </div>
                <img src="img/blog-home1.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
          <div class="blog__choice_inside_right">
            <div class="blog__choice_item">
              <div class="inside_top">
                <div class="blog__choice_top_invisible">
                  <div class="item_hovered">
                    <img src="/img/item-hovered.png">
                  </div>
                  <p class="invisible_descr">
                    В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
                  </p>
                </div>
                <img src="img/blog-home2.webp" alt="">
              </div>
              <div class="inside_left_bottom">
                <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
                <time class="blog__choice_time">16 Декабря 2021</time>
                <p class="blog__choice_descr">
                  В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
                  от сложности технологии, и до не самых лучших...
                </p>
                <a class="bottom_readmore" href="#">Читать полностью»</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="blog__choice_right">
        <div class="blog__choice_item">
          <div class="inside_top">
            <div class="blog__choice_top_invisible">
              <div class="item_hovered">
                <img src="/img/item-hovered.png">
              </div>
              <p class="invisible_descr">
                В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
              </p>
            </div>
            <img src="img/blog-home1.webp" alt="">
          </div>
          <div class="inside_left_bottom">
            <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
            <time class="blog__choice_time">16 Декабря 2021</time>
            <p class="blog__choice_descr">
              В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
              от сложности технологии, и до не самых лучших...
            </p>
            <a class="bottom_readmore" href="#">Читать полностью»</a>
          </div>
        </div>
        <div class="blog__choice_item">
          <div class="inside_top">
            <div class="blog__choice_top_invisible">
              <div class="item_hovered">
                <img src="/img/item-hovered.png">
              </div>
              <p class="invisible_descr">
                В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
              </p>
            </div>
            <img src="img/blog-home1.webp" alt="">
          </div>
          <div class="inside_left_bottom">
            <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
            <time class="blog__choice_time">16 Декабря 2021</time>
            <p class="blog__choice_descr">
              В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
              от сложности технологии, и до не самых лучших...
            </p>
            <a class="bottom_readmore" href="#">Читать полностью»</a>
          </div>
        </div>
        <div class="blog__choice_item">
          <div class="inside_top">
            <div class="blog__choice_top_invisible">
              <div class="item_hovered">
                <img src="/img/item-hovered.png">
              </div>
              <p class="invisible_descr">
                В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
              </p>
            </div>
            <img src="img/blog-home1.webp" alt="">
          </div>
          <div class="inside_left_bottom">
            <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
            <time class="blog__choice_time">16 Декабря 2021</time>
            <p class="blog__choice_descr">
              В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
              от сложности технологии, и до не самых лучших...
            </p>
            <a class="bottom_readmore" href="#">Читать полностью»</a>
          </div>
        </div>
        <div class="blog__choice_item">
          <div class="inside_top">
            <div class="blog__choice_top_invisible">
              <div class="item_hovered">
                <img src="/img/item-hovered.png">
              </div>
              <p class="invisible_descr">
                В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков: от сложности технологии, и до не самых лучших эксплуатационных качеств. Компания «ТопсХаус» предлагает альтернативу – теплые дома для загородных участков и дач из двойного профилированного бруса.
              </p>
            </div>
            <img src="img/blog-home1.webp" alt="">
          </div>
          <div class="inside_left_bottom">
            <a class="bottom_link" href="#">Теплый дом из двойного бруса под ключ</a>
            <time class="blog__choice_time">16 Декабря 2021</time>
            <p class="blog__choice_descr">
              В нашей стране традиционно было развито строительство домов из древесины. Изначально строения возводили из сруба. Но такой вариант обладает рядом недостатков:
              от сложности технологии, и до не самых лучших...
            </p>
            <a class="bottom_readmore" href="#">Читать полностью»</a>
          </div>
        </div>
      </div>
      <div class="blog__choice_show">
        <a class="blog__choice_show_link" href="#">
          Показать ещё
        </a>
      </div>
    </div>
  </div>
</section>
