<section class="call">
  <div class="wrapper">
    <div class="call__block_bg">
      <div class="call__block_info">
        <p class="call__block_descr">
          По всем вопросам обращайтесь к нам по многоканальному телефону
          <a class="call__block_descr_link" href="tel:+74952121069">+7 (495) 212-10-69</a>
          или по <a class="call__block_descr_link" href="mailto:info@topshouse.ru">e-mail: info@topshouse.ru</a>
        </p>
        <p class="call__block_descr">
          Либо заполните форму справа:
        </p>
      </div>
      <div class="header__btn call__block_button">
        <a href="" class="btn btn_green call__block_link">Перезвонить вам?</a>
      </div>
      </div>
    </div>
  </div>
</section>
