<section class="categories">
  <div class="wrapper">
    <h2 class="categories__section_title">
      Категории строений
    </h2>
    <div class="categories__choice">
      <ul class="categories__choice_list">
        <li class="categories__choice_item active">
          <a class="categories__choice_link active" href="#">Теплые дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Дачные дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Мини-гостиницы/Гостевые домики</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Теплые дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Теплые дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Теплые дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Теплые дома</a>
        </li>
        <li class="categories__choice_item">
          <a class="categories__choice_link" href="#">Теплые дома</a>
        </li>
      </ul>
    </div>
    <div class="categories__choice_block_link">
      <div class="categories__choice_block item active">
        <img src="/img/doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/dachnie_doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/dachnie_doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/dachnie_doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
      <div class="categories__choice_block item">
        <img src="/img/dachnie_doma-min.webp" alt="дома">
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
      </div>
    </div>
  </div>
</section>
