<section class="certificate">
  <div class="wrapper">
    <div class="certificate__block_bg">
      <div class="certificate__block_sert">
        <img class="certificate__block_images" src="/img/certificate.webp">
      </div>
      <div class="certificate__block_description">
        <p class="certificate__block_title">
          Международный сертификат ISO 9000/9001
        </p>
        <p class="certificate__block_descr">
          Подтверждает соответствие компании ТопсХаус высоким мировым стандартам построения систем менеджмента качества продукции и управления предприятия.
        </p>
      </div>
    </div>
  </div>
</section>
