<section class="clients">
  <div class="wrapper">
    <div class="clients__flex">
      <div class="clients_left">
        <div class="clients__info">
          <p class="clients_descr_brow">
            Кто расскажет лучше нас?
          </p>
          <p class="clients_descr_black">
            Наши клиенты
          </p>
          <p class="clients_descr_description">
            Применяемые нами материалы экологичны, эстетичны и технологичны. Наши постройки могут использоваться сразу после возведения.
          </p>
        </div>
        <div class="clients__review">
          <div class="clients__avatar">
            <img src="/img/clients1.webp" class="clients-images" alt="фото клиента">
            <div class="clients-info">
              <p class="clients-name">
                Лужина А.Р.
              </p>
              <address class="clients-address">
                Московская обл., Ступинский район, село ...
              </address>
            </div>
          </div>
          <div class="clients__text-info">
            <p class="clients-review-desc">
              Сердечно хотим поблагодарить работников фирмы ТопсХаус за отличное строительство беседки "Александр Блок" на нашем участке в Ступинском районе.
              Понравилось все, и сама беседка чудесная, аккуратная ...
            </p>
          </div>
          <a href="#" class="clients-link"><p class="clients-link-descr">Смотреть все отзывы</p></a>
        </div>
      </div>
      <div class="clients-right">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/emfkVfJt3kw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
