<section class="construction">
  <div class="wrapper">
    <h2 class="construction__section_title">
      Объемы строительства
    </h2>
    <div class="construction__block">
      <div class="construction__block_left">
        <p class="construction__block_descr">
          Компания ТопсХаус - №1 по объемам строительства из мини бруса в России и ближнем зарубежье. За счет самой обширной дилерской сети, Вы можете найти наши постройки в любом уголке России.
        </p>
        <p class="construction__block_descr">
          Постоянное отслеживание новых тенденций, профессиональная команда специалистов и своевременный обновление оборудования, позволяют нам оставаться безусловным лидером отрасли.
        </p>
        <p class="construction__block_descr">
          В этом уже убедились более 10 000 человек и это количество растет с каждым годом. Более 32% наших клиентов возвращаются к нам с повторными заказами и рекомендуют нас своим друзьям.
        </p>
      </div>
      <div class="construction__block_right">
        <p class="construction__block_title">
          Динамика объемов строительства компании за 10 лет
        </p>
        <img src="/img/construction.webp">
      </div>
    </div>
  </div>
</section>
