<section class="contacts-info">
  <div class="wrapper">
    <h2 class="contacts-info__title">
      Контактная информация
    </h2>
    <div class="contacts-info__info">
      <ul class="contacts-info__list">
        <li class="contacts-info__item">
          <p class="contacts-info__descr">Телефоны:</p>
          <div class="contacts-info__link">
            <a class="contacts-info__tel" href="tel:+74952121069">+7 (495) 212-10-69</a>
            <a class="contacts-info__tel" href="tel:+74952121069">+7 (495) 212-10-69</a>
          </div>
          <p class="contacts-info__descr">(Бесплатно по России)</p>
        </li>
        <li class="contacts-info__item">
          <p class="contacts-info__descr">E-mail:</p>
          <div class="contacts-info__link">
            <a class="contacts-info__mail" href="mailto:dom@topshouse.ru">dom@topshouse.ru</a>
          </div>
        </li>
        <li class="contacts-info__item">
          <p class="contacts-info__descr">Кадровая служба:</p>
          <div class="contacts-info__mail">
            <a class="contacts-info__mail" href="mailto:hr@topshouse.ru">hr@topshouse.ru</a>
          </div>
        </li>
        <li class="contacts-info__item">
          <p class="contacts-info__descr">По вопросам сотрудничества:</p>
          <div class="contacts-info__link">
            <a class="contacts-info__mail" href="mailto:">dealer@topshouse.ru</a>
          </div>
        </li>
      </ul>
      <div class="contacts-info__bg"></div>

    </div>
  </div>
</section>
