<section class="credit">
  <div class="wrapper">
    <div class="credit__center">
      <div class="credit__left">
        <i class="bi bi-piggy-bank"></i>
        <div class="credit_info">
          <p class="credit_brown">
            Не хватает денег?
          </p>
          <p class="credit_white">
            Мы строим в кредит
          </p>
        </div>
        <div class="header__btn">
          <a href="#" class="btn btn_green btn_brown">Выбрать кредит</a>
        </div>
      </div>
      <div class="credit__right">
        <i class="bi bi-person"></i>
        <div class="credit_info">
          <p class="credit_brown">
            Молодая семья?
          </p>
          <p class="credit_white">
            Оплата материнским капиталом
          </p>
        </div>
        <div class="header__btn">
          <a href="#" class="btn btn_green btn_brown">Узнать условия</a>
        </div>
      </div>
    </div>
  </div>
</section>
