<section class="catalog">
  <div class="wrapper">
    <div class="catalog__filter">
      <h3 class="catalog__filter_title">
        Подбор по параметрам
      </h3>
      <div class="catalog__filter_input">
        <p class="catalog__filter_input-descr">
          Площадь строения (кв.м.)
        </p>
        <div class="catalog__filter_input-choice">
          <div class="catalog__filter_input-left">
            <input type="text" placeholder="0">
          </div>
          <div class="catalog__filter_input-right">
            <input type="text" placeholder="33.7">
          </div>
        </div>
      </div>
      <div class="catalog__filter_input">
        <p class="catalog__filter_input-descr">
          Площадь строения (кв.м.)
        </p>
        <div class="catalog__filter_input-choice">
          <div class="catalog__filter_input-left">
            <input type="text" placeholder="0">
          </div>
          <div class="catalog__filter_input-right">
            <input type="text" placeholder="33.7">
          </div>
        </div>
      </div>
    </div>
    <div class="catalog__container">
      <div class="catalog__container_top">
        <h2 class="catalog__section_title">
          Дачные дома из бруса
        </h2>
        <div class="catalog__container_languages">
          <p class="catalog__container_descr-choice">
            Выберите валюту:
          </p>
          <a href="#" class="catalog__container_link-choice active">
            RUB/
          </a>
          <a href="#" class="catalog__container_link-choice">
            USD/
          </a>
          <a href="#" class="catalog__container_link-choice">
            EUR/
          </a>
          <a href="#" class="catalog__container_link-choice">
            KZT/
          </a>
          <a href="#" class="catalog__container_link-choice">
            UAH/
          </a>
          <a href="#" class="catalog__container_link-choice">
            BYN
          </a>
        </div>
        <div class="catalog__container_select">
          <select name="Выберите сортировку:">
            <option>Сначала новые проекты</option>
            <option>Сначала дороже</option>
            <option>Сначала дешевле</option>
            <option>Сначала с большой прощадью</option>
            <option>Сначала с малой прощадью</option>
            <option>Сначала популярные</option>
            <option>Сначала непопулярные</option>
          </select>
        </div>
      </div>
      <div class="catalog__container_categories">
        <ul class="catalog__container_list">
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home1.webp">
            </a>
            <a href="#" class="catalog__container_link">
              Двухэтажные дома из бруса(2)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home2.webp">
            </a>
            <a href="#" class="catalog__container_link">
              Дома из бруса(28)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home3.webp">
            </a>
            <a href="#" class="catalog__container_link">
              Дома эконом-класса(11)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home4.webp">
            </a>
            <a href="#" class="catalog__container_link">
              Одноэтажные дома из бруса(38)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home5.webp">
            </a>
            <a href="#" class="catalog__container_link">
              Разборные дома(11)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home6.webp">
            </a>
            <a href="#" class="catalog__container_link">
              С балконом(1)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home7.webp">
            </a>
            <a href="#" class="catalog__container_link">
              С верандой(2)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home8.webp">
            </a>
            <a href="#" class="catalog__container_link">
              С крыльцом(8)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home9.webp">
            </a>
            <a href="#" class="catalog__container_link">
              С мансардой(3)
            </a>
          </li>
          <li class="catalog__container_item">
            <a href="#" class="catalog__container_link-images">
              <img src="/img/catalog-home10.webp">
            </a>
            <a href="#" class="catalog__container_link">
              С террасой(5)
            </a>
          </li>
        </ul>
      </div>
      <div class="catalog__container_popular">
        <p class="catalog__container_popular-descr">
          Популярные размеры :
        </p>
        <a href="#" class="catalog__container_popular-link">2x2</a>
        <a href="#" class="catalog__container_popular-link">3x5</a>
        <a href="#" class="catalog__container_popular-link">4x4</a>
        <a href="#" class="catalog__container_popular-link">4x5</a>
        <a href="#" class="catalog__container_popular-link">5х5</a>
        <a href="#" class="catalog__container_popular-link">5x6</a>
        <a href="#" class="catalog__container_popular-link">6х4</a>
        <a href="#" class="catalog__container_popular-link">6х6</a>
        <a href="#" class="catalog__container_popular-link">6x7</a>
        <a href="#" class="catalog__container_popular-link">6х8</a>
        <a href="#" class="catalog__container_popular-link">6х9</a>
        <a href="#" class="catalog__container_popular-link">6x10</a>
        <a href="#" class="catalog__container_popular-link">8x4</a>
        <a href="#" class="catalog__container_popular-link">8x5</a>
        <a href="#" class="catalog__container_popular-link">8x8</a>
        <a href="#" class="catalog__container_popular-link">9x8</a>
        <a href="#" class="catalog__container_popular-link">9x10</a>
        <a href="#" class="catalog__container_popular-link">9x11</a>
        <a href="#" class="catalog__container_popular-link">10x8</a>
        <a href="#" class="catalog__container_popular-link">11x8</a>
        <a href="#" class="catalog__container_popular-link">11x12</a>
      </div>
      <div class="slider-list__list-section">
        <ul class="slider-list__list-title">
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Беседки садовые
              </p>
              <p class="slider-list-description">
                38 проектов
                <span class="slider-list-span">
                  от&nbsp;45 500&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Взломостойкие хозблоки СКАЛА
              </p>
              <p class="slider-list-description">
                6 проектов
                <span class="slider-list-span">
                  от&nbsp;100 150&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Гаражи из&nbsp;бруса
              </p>
              <p class="slider-list-description">
                16 проектов
                <span class="slider-list-span">
                  от&nbsp;189 150&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Мобильные бани
              </p>
              <p class="slider-list-description">
                8 проектов
                <span class="slider-list-span">
                  от&nbsp;264 950&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Вольеры для собак
              </p>
              <p class="slider-list-description">
                6 проектов
                <span class="slider-list-span">
                  от&nbsp;22 550&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog5.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Хозблоки с&nbsp;туалетом и&nbsp;душем
              </p>
              <p class="slider-list-description">
                5 проектов
                <span class="slider-list-span">
                  от&nbsp;123 300&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
             <div class="slider-item-block-text">
              <p class="slider-list-text">
                Дачные дома
              </p>
              <p class="slider-list-description">
                60 проектов
                <span class="slider-list-span">
                  от&nbsp;107 150&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Теплые дома
              </p>
              <p class="slider-list-description">
                51 проектов
                <span class="slider-list-span">
                  от&nbsp;773 550&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Бани из&nbsp;бруса
              </p>
              <p class="slider-list-description">
                20 проектов
                <span class="slider-list-span">
                  от&nbsp;159 650&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Садовые домики
              </p>
              <p class="slider-list-description">
                43 проектов
                <span class="slider-list-span">
                  от&nbsp;99 700&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="imgcatalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Хозблоки для дачи
              </p>
              <p class="slider-list-description">
                48 проектов
                <span class="slider-list-span">
                  от&nbsp;22 550&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Бытовки дачные
              </p>
              <p class="slider-list-description">
                9 проектов
                <span class="slider-list-span">
                  от&nbsp;56 600&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Детские домики
              </p>
              <p class="slider-list-description">
                8 проектов
                <span class="slider-list-span">
                  от&nbsp;38 850&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Гостевые домики
              </p>
              <p class="slider-list-description">
                38 проектов
                <span class="slider-list-span">
                  от&nbsp;219 200&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
          <li class="slider-list-item">
            <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
            <img class="slider-list-garden active" src="img/catalog4.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
            <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
            <div class="slider-item-block-text">
              <p class="slider-list-text">
                Деревянные навесы для автомобилей
              </p>
              <p class="slider-list-description">
                6 проектов
                <span class="slider-list-span">
                  от&nbsp;193 200&nbsp;руб.
                </span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="catalog__container_button header__btn">
        <a href="" class="btn btn_green">Показать ещё</a>
      </div>
      <div class="catalog__container_pages">
        <a href="#" class="catalog__container_pages-link active">1</a>
        <a href="#" class="catalog__container_pages-link">2</a>
        <a href="#" class="catalog__container_pages-link">3</a>
        <a href="#" class="catalog__container_pages-link">4</a>
      </div>
      <div class="catalog__container_info-bottom">
        <p class="catalog__container_info-descr">
          Дачные дома из бруса и их ключевое преимущество – то, что строительства дачных домов из бруса под ключ, обходится недорого в сравнении с возведением здания из кирпича или камня.
        </p>
        <h3 class="catalog__container_info-title">
          Существуют и другие причины заказать дачные дома:
        </h3>
        <ul class="catalog__container_info-list">
          <li class="catalog__container_info-list">
            Экономия времени. Готовый домокомплект доставляют и устанавливают на участке в течение 1 дня.
          </li>
          <li class="catalog__container_info-list">
            Отсутствие необходимости привлекать спецтехнику.
          </li>
          <li class="catalog__container_info-list">
            Гарантированное качество пиломатериалов, обеспечивающее долговечность, надежность, безопасность строения.
          </li>
          <li class="catalog__container_info-list">
            Широкий выбор стандартных проектов, по которым уже построен не один дачный домик.
          </li>
          <li class="catalog__container_info-list">
            Эстетическая привлекательность строений. Натуральный брус не требует дополнительной декоративной отделки, так как выглядит красиво за счет естественного рисунка и фактуры.
          </li>
        </ul>
        <h3 class="catalog__container_info-title">
          На странице сайта компании «ТопсХаус» представлены проекты для современных уютных загородных домов:
        </h3>
        <ul class="catalog__container_info-list">
          <li class="catalog__container_info-list">
            <a href="#" class="catalog__container_info-link">одноэтажные строения</a>
          </li>
          <li class="catalog__container_info-list">
            <a href="#" class="catalog__container_info-link">постройки</a> с террасами, верандами, мансардами;
          </li>
          <li class="catalog__container_info-list">
            здания с <a href="#" class="catalog__container_info-link">хозяйственными пристройками</a>
          </li>
        </ul>
        <p class="catalog__container_info-descr">
          Чтобы получить консультацию или оформить заказ на строительство дачных домов из бруса под ключ, звоните по телефону, оставляйте заявку на электронной почте
          <a href="mailto:dom@topshouse.ru" class="catalog__container_info-link"></a>>dom@topshouse.ru</a>
        </p>
      </div>
    </div>
  </div>
</section>
