<section class="dealer">
  <div class="wrapper">
    <h2 class="dealer__section_title">
      Для дилеров и строителей
    </h2>
    <div class="dealer__block_img mobile">
      <img src="../img/dealer.webp">
    </div>
    <div class="dealer__block">
      <div class="dealer__block_descr">
        <p>
          Постоянные клиенты ценят нашу клиентоориентированность, высокое качество продукции, прозрачную схему работы и щепетильное соблюдение взятых на себя партнерских обязательств.
        </p>
        <p class="big">
          Компания «ТопсХаус» оказывает рекламную и маркетинговую поддержку своих официальных дилеров.
        </p>
        <p class="big">
          Мы готовы предоставить выставочные стенды, образцы материалов и буклеты.
        </p>
        <p>
          Мы всегда на связи со своими партнерами и готовы помочь с оформлением офисов продаж и провести обучение персонала.
        </p>
      </div>
      <div class="dealer__block_img">
        <img src="../img/dealer.webp">
      </div>
    </div>
  </div>
</section>
