<section class="catalog main-catalog-descr">
  <div class="wrapper">
    <div class="catalog__container_info-bottom">
      <h3 class="catalog__container_info-title">
        Дачные и садовые постройки из бруса: каталог проектов
      </h3>
      <p class="catalog__container_info-descr">
        Многие из тех, кто мечтает о дачном домике из дерева, считают, что его строительство обойдется в значительную сумму. В каком-то смысле они правы, ведь далеко не все подрядчики предлагают адекватные цены за свои услуги. Но если вы обратитесь в компанию «ТопсХаус», то убедитесь, что комфортабельные и надежные дачные или садовые постройки из бруса под ключ могут стоить совсем недорого!
      </p>
      <p class="catalog__container_info-descr">
        Что позволяет нам предлагать самые выгодные условия возведения деревянных построек? Все просто, в нашей компании есть:
      </p>
      <ul class="catalog__container_info-list">
        <li class="catalog__container_info-item">
          собственный отдел по проектированию и дизайну объектов;
        </li>
        <li class="catalog__container_info-item">
          собственная производственная и лесозаготовительная база;
        </li>
        <li class="catalog__container_info-item">
          штат квалифицированных сотрудников.
        </li>
      </ul>
      <div class="suggestions-list suggestions-list-border">
        <div class="suggestions-info">
            <p class="suggestions-des">
              Не&nbsp;нашли что искали?
            </p>
            <p class="suggestions-info-descr">
              Подобрать проект по параметрам
            </p>
            <div class="header__btn">
              <a href="#" class="btn_brown">Узнать подробнее</a>
            </div>
            <div class="suggestions-backgraund">

            </div>
        </div>
      </div>
      <p class="catalog__container_info-descr">
        Таким образом, мы собственными силами осуществляем все этапы строительства объектов и благодаря этому снижаем свои расходы и увеличиваем выгоду заказчиков!
      </p>
      <h3 class="catalog__container_info-title">
        Преимущества покупки дачных и садовых построек из бруса у нас
      </h3>
      <p class="catalog__container_info-descr">
        Первое и самое очевидное преимущество заключается в цене: строительство не станет серьезным обременением для семейного бюджета, и в результате вы получите возможность с комфортом отдохнуть от шума и суеты большого города в окружении живописных загородных ландшафтов.
      </p>
      <h4 class="catalog__container_info-title-block">
        К другим достоинствам этого решения относятся:
      </h4>
      <ul class="catalog__container_info-list">
        <li class="catalog__container_info-item">
          небольшие расходы на отделку;
        </li>
        <li class="catalog__container_info-item">
          экономия на обслуживании;
        </li>
        <li class="catalog__container_info-item">
          рациональное использование территории приусадебного участка;
        </li>
        <li class="catalog__container_info-item">
          минимальные сроки строительства.
        </li>
      </ul>
      <p class="catalog__container_info-descr">
        Мы предлагаем вашему вниманию готовые проекты недорогих дачных сооружений, каждое из которых обладает всеми вышеперечисленными преимуществами. Вы можете заказать строительство по любому типовому эскизу, и тогда мы приступим к работе без предоплаты. Если же вы захотите внести в проект какие-либо изменения, наши дизайнеры помогут довести эскиз до идеала без ущерба для безопасности и надежности.
      </p>
      <p class="catalog__container_info-descr">
        Для строительства мы используем качественный профилированный брус, а готовые садовые и дачные постройки комплектуются оконными и дверными блоками, ступенями, кровлей и другими необходимыми для эксплуатации элементами.
      </p>
      <p class="catalog__container_info-descr">
        Обращайтесь к нам прямо сейчас, чтобы уже через несколько дней стать владельцами комфортного и уютного дачного домика или другого функционального сооружения из бруса!
      </p>
    </div>
  </div>
</section>
