<section class="design">
  <div class="wrapper">
    <h2 class="design__section_title">
      Проектирование
    </h2>
    <div class="design__block">
      <div class="design__block_left">
        <p class="design__block_left_descr">
          Наши проекты разрабатывались на основе пожеланий заказчиков с учетом принципов рационального и удобного использования жилой площади.
        </p>
        <p class="design__block_left_descr">
          Даже самый взыскательный заказчик сможет выбрать проект на свой вкус и начать строительство без траты времени на создание проекта.
        </p>
        <p class="design__block_left_descr">
          Доработать типовой проект или создать абсолютный эксклюзив – все это возможно с нашей командой опытных архитекторов и проектировщиков
        </p>
      </div>
      <div class="design__block_center">
        <div class="design__block_center_choice">
          <img class="design__block_center_number" src="/img/number4.webp" alt="300+">
          <p class="design__block_center_title">
          типовых интересных проектов, созданных профессионалами
          </p>
        </div>
        <img class="design__block_center_img" src="/img/about-image.webp" alt="дом">
      </div>
      <div class="design__block_right">
        <div class="design__block_right_bg">
          <div class="design__block_right_desc">
            <span class="design__block_right_span">
              а также
            </span>
            <p class="design__block_right_descr">
              индивидуальное проектирование
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
