<section class="diploma slider-suggestions">
  <div class="wrapper">
    <h2 class="diploma__section_title">
      Наши дипломы
    </h2>
    <div class="slider-suggestions__block-suggestions" style="margin-left: -1705px;">
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom1.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom2.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom3.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom4.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom1.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list active">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom2.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom3.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom4.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom1.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom1.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom3.webp" alt="картинка слайдера">
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/diplom4.webp" alt="картинка слайдера">
        </div>
      </div>
    </div>
    <div class="slider__click">
      <i class="bi bi-chevron-left"></i>
      <i class="bi bi-chevron-right"></i>
    </div>
  </div>
</section>
