<footer class="footer">
  <div class="wrapper">
    <div class="footer_top">
      <ul class="footer__list">
        <li class="footer__item">
          <p class="footer__descr_top">
            Каталог
          </p>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Садовые домики
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Дачные дома
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Теплые дачные дома
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Бани
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Хозблоки
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Мастерские
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Гостевые домики
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Торговые киоски
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Гаражи
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Навесы
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Беседки садовые
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Детские домики
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <p class="footer__descr_top">
            Мы строим
          </p>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Быстровозводимые дачные дома
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Садовые домики из минибруса
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Теплые дома из двойного бруса
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Бани любого размера под ключ
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Хозяйственные постройки из дерева
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Беседки и малые строения из бруса
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <p class="footer__descr_top">
            О компании
          </p>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Акции
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Специальные предложения
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Новости
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Отзывы клиентов
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Примеры работ
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Ответы на вопросы
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Производство
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Карта сайта
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            Контакты
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            3D тур по выставке домов
          </a>
        </li>
      </ul>
      <div class="footer__connection">
        <div class="footer__contacts-phone">
          <i class="bi bi-telephone"></i>
          <div class="footer__connection_link">
            <a class="footer_link-phone" href="tel:74952121069">+7(495)212-10-69</a>
            <a class="footer_link-phone" href="tel:+7 (800) 777-42-08">+7 (800) 777-42-08</a>
          </div>
        </div>
        <div class="header__btn">
          <a href="" class="btn btn_green">Перезвонить вам?</a>
        </div>
        <div class="footer__social">
          <ul class="footer__social_list">
            <li class="footer__social_item">
              <i class="bi bi-envelope"></i>
              <a class="footer__social-link" href="mailto:dom@topshouse.ru">dom@topshouse.ru</a>
            </li>
            <li class="footer__social_item">
              <i class="bi bi-whatsapp"></i>
              <a class="footer__social-link" href="#">WhatsApp</a>
            </li>
            <li class="footer__social_item">
              <i class="bi bi-telegram"></i>
              <a class="footer__social-link" href="#">Telegram</a>
            </li>
            <li class="footer__social_item">
              <i class="fa-brands fa-viber"></i>
              <a class="footer__social-link" href="#">Viber</a>
            </li>
            <li class="footer__social_item">
              <i class="bi bi-youtube"></i>
              <a class="footer__social-link" href="#">Rutube</a>
            </li>
            <li class="footer__social_item">
              <i class="fa-brands fa-yandex"></i>
              <a class="footer__social-link" href="#">Yandex Zen</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="footer__bottom_small">
        <p class="footer__bottom-descr">
          Сайт topshouse.ru носит исключительно информационный характер и ни при каких условиях не является публичной офертой. Для получения подробной информации о стоимости материалов, пожалуйста, обращайтесь в офисы продаж.
        </p>
        <div class="footer__bottom_info">
          <a href="#" class="footer__bottom-link">
            Правовая информация
          </a>
          <a href="#" class="footer__bottom-link">
            Политика конфиденциальности
          </a>
        </div>
        <small>
          © 2010–2022 Компания «ТопсХаус»
        </small>
      </div>
      <div class="footer__bottom_social">
        <p class="footer__descr_top">
          Мы в социальных сетях
        </p>
        <ul class="footer__bottom_icon-list">
          <li class="footer__bottom_item">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="footer__bottom_item">
            <i class="fa-brands fa-youtube-square"></i>
          </li>
          <li class="footer__bottom_item">
            <i class="fa-brands fa-vk"></i>
          </li>
          <li class="footer__bottom_item">
            <i class="fa-brands fa-odnoklassniki-square"></i>
          </li>
        </ul>
        <div class="footer__bottom_block">
          <img class="footer__bottom_images" src="img/add.webp" alt="картинка">
          <p class="footer__bottom-descr">
            Компания «ТопсХаус» входит в Ассоциацию Деревянного домостроения
          </p>
        </div>
      </div>
      <div class="footer__bottom_home">
        <p class="footer__descr_top">
          Малоэтажная Страна
        </p>
        <a href=""><img src="img/footer-bottom.webp" alt="картинка"></a>
      </div>
    </div>
  </div>
</footer>
<div class="popup-up">
  <i class="bi bi-caret-up"></i>
  <p>Наверх</p>
</div>
