<section class="geography">
  <div class="wrapper">
    <div class="geography__info">
      <h2 class="geography__section-title">
        Наша география
      </h2>
      <div class="geography__general-block">
        <div class="geography__left_menu">
          <a href="#" class="geography__left_link active">
            Офисы продаж
          </a>
          <ul class="geography__list">
            <li class="geography__item">
              <address class="geography__item-address">
                Москва, офис продаж «Белая дача»
              </address>
              <p class="geography__item-time">
                Пн - Вс: 10.00-19.00
                Без выходных
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Самара
              </address>
              <p class="geography__item-time">
                Пн - Вс: 10.00-19.00
                Без выходных
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Севастополь, Крым
              </address>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Самара
              </address>
              <p class="geography__item-time">
                Пн - Вс: 10.00-19.00
                Сб-вс с 10.00 до 18.00
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Казань
              </address>
              <p class="geography__item-time">
                Пн-Пт: с 9-00 до 17-30
                Сб, Вс: выходные
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Краснодарский край
              </address>
              <p class="geography__item-time">
                Пн-Сб с 9.00 до 18.00
                Вс: Выходной
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Калуга
              </address>
              <p class="geography__item-time">
                Пн, Вт: Выходной
                Ср-Сб: 10.00 - 18.00
                Вс: 10.00 - 13.00
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Владивосток
              </address>
              <p class="geography__item-time">
                Пн - Пт: 10.00-17.30
                Сб-Вс: 10.00-16.00
                Без выходных
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Оренбург
              </address>
              <p class="geography__item-time">
                Пн-Вс: 9.00-20.00
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Тула
              </address>
              <p class="geography__item-time">
                Часы работы:
                Ежедневно: 9.00-18.00
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Саратов
              </address>
              <p class="geography__item-time">
                Пн - Сб: 09.00-15.00
                Вс: Выходной
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Рязань
              </address>
              <p class="geography__item-time">
                Пн - Вс: 9.00-18.00
                Без выходных
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Вязьма, Смоленская обл.
              </address>
              <p class="geography__item-time">
                Пн-Пт: 9:00 - 18:00
                Сб,Вс: выходной
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Пермь
              </address>
              <p class="geography__item-time">
                Вт-Пт: 10:00-20:00
                Сб-Вс: 10:00-19:00
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Новокузнецк
              </address>
              <p class="geography__item-time">
                Пн-пт: 10:00 - 19:00
                Сб: 10:00 - 18:00
                Вс: выходной
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Сочи
              </address>
              <p class="geography__item-time">
                Пн-Сб: 10:00-18:00
                Вс: выходной
              </p>
            </li>
            <li class="geography__item">
              <address class="geography__item-address">
                Архангельск
              </address>
              <p class="geography__item-time">
                пн-пт: 9:00 - 18:00
                сб: 9:00 - 15:00
                вс: выходной
              </p>
            </li>
          </ul>
        </div>
        <div class="geography__right_menu">
          <a href="#" class="geography__right_link">
            Построенные дома
          </a>
        </div>
      </div>
      <div class="header__search">
        <form method="post" class="search">
          <input type="text" placeholder="Найдите дом мечты">
        </form>
        <button>
          <i class="fa fa-magnifying-glass" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="geography__geo"></div>
  </div>
</section>

