<header class="header">

	<div class="header__content header__content_top">
		<div class="wrapper">
			<!-- lang -->
      <a class="burger" href="#">&#9776;</a>
			<div class="header__lang">
				<div class="lang">
					<a class="lang__title" data-target="#lang-contain">
						<span style="background-image: url(img/lang/ru.svg);"></span>
						<p>Русский</p>
						<i class="fa fa-chevron-down"></i>
					</a>
					<div id="lang-contain" class="lang__contain">
						<a class="active">
							<span style="background-image: url(img/lang/ru.svg);"></span>
							<p>Русский</p>
							<i class="fa fa-check"></i>
						</a>
						<a class="">
							<span style="background-image: url(img/lang/en.svg);"></span>
							<p>English</p>
							<i class="fa fa-check"></i>
						</a>
					</div>
				</div>
			</div>

			<!-- links -->
			<div class="header__links">

				<a class="city">
					<span>
						<i class="bi bi-geo-alt"></i>
						Ваш город:
					</span>
					<span>Нижний Новгород</span>
          <div class="header__fa_mobile">
            <i class="fa fa-location-dot"></i>
          </div>
					<i class="fa fa-chevron-down"></i>
          <div class="city__bg-block">
            <div class="city__icon">
              <h2 class="city__section_title-city">
                Выберите свой город
              </h2>
              <!-- <img src="/img/check.png"> -->
            </div>
            <div class="city__link_choice">
              <form method="post" class="city_choise">
                <input type="text" placeholder="Введите название города..." class="">
                <a class="city__link_fa" href="#"><i class="bi bi-x"></i></i></a>
              </form>
              <ul class="city__list">
                <li class="city__item">
                  <a class="city__item_link" href="#">Москва</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Владивосток</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Казань</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Калининград</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Новокузнецк</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Оренбург</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Петропавловск-Камчатский</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Самара</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Севастополь</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Сочи</a>
                </li>
                <li class="city__item">
                  <a class="city__item_link" href="#">Тула</a>
                </li>
              </ul>
              <div class="city__description">
                <p class="city__descr-bottom">
                  Зачем указывать город?
                </p>
                <p class="city__descr-bottom-descr">
                  Таким образом мы сможем показать вам контактную информацию, график работы,
                   а также специальные акции, актуальные для вашего региона.
                </p>
              </div>
            </div>
          </div>

				</a>

				<a href="" class="addresses">
					<i class="bi bi-map"></i>
					<p>Адреса офисов продаж</p>
				</a>

				<a href="mailto:dom@topshouse.ru" class="mail">
					<i class="bi bi-envelope"></i>
					<p>dom@topshouse.ru</p>
				</a>

			</div>

			<!-- soc -->

			<div class="header__soc">

				<div class="soc">
					<a href="" class="twitter"><i class="fab fa-twitter"></i></a>
					<a href="" class="youtube"><i class="fab fa-youtube"></i></a>
					<a href="" class="vk"><i class="fab fa-vk"></i></a>
					<a href="" class="odnoklassniki"><i class="fa fa-odnoklassniki"></i></a>
				</div>

			</div>

		</div>

	</div>


	<!-- middle -->
	<div class="header__content header__content_middle">

		<div class="wrapper">

			<div class="header__logo">
				<a href="/" class="logo"></a>
			</div>

			<!-- nav -->
			<div class="header__nav">
				<nav class="nav">

					<div class="nav__elem">
						<a href="main-catalog.html" class="nav__title nav__title_drop" data-target="#catalog">Каталог <i class="bi bi-chevron-down"></i></a>
						<div class="nav__drop" id="catalog">
							<a href="catalog.html" class="nav__title_drop">Дачные дома</a>
							<a href="" class="nav__title_drop">Теплые дома</a>
							<a href="" class="nav__title_drop">Бани из бруса</a>
							<a href="" class="nav__title_drop">Садовые домики</a>
							<a href="" class="nav__title_drop">Хозблоки для дачи</a>
							<a href="" class="nav__title_drop">Мобильные бани</a>
							<a href="" class="nav__title_drop">Гаражи из бруса</a>
							<a href="" class="nav__title_drop">Гостевые домики</a>
							<a href="" class="nav__title_drop">Беседки садовые</a>
							<a href="" class="nav__title_drop">Навесы</a>
							<a href="" class="nav__title_drop">Вольеры для собак</a>
							<a href="" class="nav__title_drop">Детские домики</a>
							<a href="" class="nav__title_drop">Торговые павильоны</a>
							<a href="" class="nav__title_drop">Курятники</a>
							<a href="" class="nav__title_drop">Сопутствующие товары</a>
						</div>
					</div>

					<div class="nav__elem">
						<a href="" class="nav__title nav__title_drop " data-target="#why-tophaus">Почему ТопсХаус? <i class="bi bi-chevron-down"></i></a>
						<div class="nav__drop" id="why-tophaus">
							<div class="nav__drop-elem">
								<a href="" class="nav__title_drop " data-target="#about-company">О компании <i class="bi bi-chevron-right"></i></a>
								<div class="nav__drop-drop" id="about-company">
									<a href="" class="nav__title_drop">Наша команда</a>
									<a href="" class="nav__title_drop">Производство</a>
								</div>
							</div>

							<a href="" class="nav__title_drop">Отзывы клиентов</a>
							<a href="" class="nav__title_drop">Новости</a>

							<div class="nav__drop-elem">
								<a href="" class="nav__title_drop" data-target="#communication">Сотрудничество <i class="bi bi-chevron-right"></i></a>
								<div class="nav__drop-drop" id="communication">
									<a href="" class="nav__title_drop">Вакансии</a>
									<a href="" class="nav__title_drop">Как стать дилером?</a>
									<a href="" class="nav__title_drop">Как зарабатывать с нами?</a>
								</div>
							</div>

							<a href="" class="nav__title_drop">Блог</a>
							<a href="" class="nav__title_drop">Вопрос-Ответ</a>
						</div>
					</div>

					<a href="" class="nav__title">Примеры работ</a>
          <div class="nav__mobile">
            <a href="" class="nav__title_drop">Как оплатить</a>
            <a href="" class="nav__title_drop">Вакансии</a>
            <a href="" class="nav__title_drop">Погодная станция</a>
          </div>

					<div class="nav__elem">
						<a href="" class="nav__title nav__title_drop b-icon" data-target="#more"><i class="bi bi-three-dots"></i></a>
						<div class="nav__drop" id="more">
							<a href="" class="nav__title_drop">Как оплатить</a>
							<a href="" class="nav__title_drop">Вакансии</a>
							<a href="" class="nav__title_drop">Погодная станция</a>
						</div>
					</div>

				</nav>
        <div class="header__search">
          <form method="post" class="search">
            <input type="text" placeholder="Найдите дом мечты">
            <button><i class="fa fa-magnifying-glass"></i></button>
          </form>
        </div>
			</div>

			<!-- search -->

			<!-- <div class="header__search">
				<form method="post" class="search">
					<input type="text" placeholder="Найдите дом мечты">
					<button><i class="fa fa-magnifying-glass"></i></button>
				</form>
			</div> -->

			<!-- contacts -->

			<div class="header__contact-block">

				<div class="header__contacts">
					<a href="tel:+78007774208" class="number"><i class="bi bi-telephone"></i>+7 (800) 777-42-08</a>
					<p class="schedule">Пн-Вс с 09.00 до 19.00</p>
				</div>

				<div class="header__btn">
					<a href="" class="btn btn_green">Перезвонить вам?</a>
				</div>

			</div>

		</div>

	</div>

</header>
