<section class="home">
  <div class="wrapper">
    <div class="home__youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7O4OcvI-t24" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="home__object">
      <ul class="home__object_list">
        <li class="home__object_item">
          <p class="home_blown">
            10 500+
          </p>
          <p class="home_black">
            объектов построено
          </p>
        </li>
        <li class="home__object_item">
          <p class="home_blown">
            250
          </p>
          <p class="home_black">
            типовых проектов
          </p>
        </li>
        <li class="home__object_item">
          <p class="home_blown">
            25
          </p>
          <p class="home_black">
            представительств
          </p>
        </li>
        <li class="home__object_item">
          <p class="home_blown">
            180
          </p>
          <p class="home_black">
            сотрудников
          </p>
        </li>
        <li class="home__object_item">
          <p class="home_blown">
            10 лет
          </p>
          <p class="home_black">
            опыт строительства
          </p>
        </li>
        <li class="home__object_item">
          <p class="home_blown">
            10 лет
          </p>
          <p class="home_black">
            гарантия на дома
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
