<section class="information">
  <div class="wrapper">
    <h2 class="section__information_title">
      Деревянные дачные домики, бани и беседки под ключ от компании «ТопсХаус»
    </h2>
    <p class="information_descr">
      Если вы задумываетесь о строительстве какого-либо сооружения из дерева на приусадебном участке, тогда наверняка заинтересованы в сотрудничестве с опытным подрядчиком. Поручите воплощение вашего проекта профессионалам компании «ТопсХаус», и полученный результат порадует вас высоким качеством, надежностью и долговечностью.
    </p>
    <p class="information_descr">
      В нашем портфолио сотни успешно реализованных проектов, владельцы которых рекомендуют нас своим друзьям и знакомым.
    </p>
    <h3 class="information__section-title">
      В нашем активе:
    </h3>
    <ul class="information__line">
      <li class="information__item">
        собственный отдел проектирования, предлагающий современные и практичные решения для комфортной жизни;
      </li>
      <li class="information__item">
        собственное производство пиломатериалов, соответствующих высоким стандартам качества;
      </li>
      <li class="information__item">
        технологичное производство домокомплектов;
      </li>
      <li class="information__item">
        бригада квалифицированных специалистов, оперативно выполняющих сборку и монтаж готовых сооружений.
      </li>
    </ul>
    <h3 class="information__section-title">
      Мы гарантируем нашим клиентам:
    </h3>
    <p class="information_descr">
      Возможность заказать строительство самых разных объектов для благоустройства приусадебного участка:
    </p>
    <ul class="information__line">
      <li class="information__item">
        <a href="#" class="information_link">дачных</a> и <a href="#" class="information_link">садовых домов</a>
      </li>
      <li class="information__item">
        <a href="#" class="information_link">детских</a> и <a href="#" class="information_link">гостевых домиков</a>
      </li>
      <li class="information__item">
        <a href="#" class="information_link">мобильных</a> и <a href="#" class="information_link">стационарных бань</a>
      </li>
      <li class="information__item">
        <a href="#" class="information_link">беседок</a> и <a href="#" class="information_link">навесов</a>
      </li>
      <li class="information__item">
        хозяйственных и многих других построек.
      </li>
    </ul>
    <div class="information_description_descr">
      <p class="information_description">
        Впечатляющий выбор из более чем сотни готовых проектов, каждый из которых уже был реализован и проверен в эксплуатации.
      </p>
      <p class="information_description">
        Возможность внести индивидуальные изменения в любой типовой проект.
      </p>
      <p class="information_description">
        Высокое качество строительных материалов, доскональное соблюдение технологии деревянного домостроения для надежности, долговечности и комфорта готовых объектов.
      </p>
      <p class="information_description">
        Короткие сроки выполнения заказов под ключ.
      </p>
      <p class="information_description">
        Мы также гарантируем нашим заказчикам лучшую цену на деревянные сооружения, так как осуществляем весь производственный цикл без привлечения сторонних подрядчиков.
      </p>
    </div>
    <p class="information_descr">
      Обращайтесь к нам, и уже в самое ближайшее время на вашем приусадебном участке появится комфортабельный садовый домик, уютная беседка или баня для полноценного и здорового отдыха!
    </p>
  </div>
</section>
