<section class="job">
  <img class="job-images" src="/img/tape.webp" alt="рулетка">
  <div class="wrapper">
    <div class="job__container-job">
      <div class="job__left-job">
        <div class="left-block_descr">
          <p class="left-block_top">
            Как мы работаем?
          </p>
          <div class="left-block-center">
            <p class="left-block_bottom">
              Очень быстро!
            </p>
            <p class="left-block_info">
              Мы осуществляем монтаж круглый год. Наша технология позволяет осуществлять монтаж быстро и эффективно даже в зимний период.
            </p>
          </div>
          <div class="header__btn">
            <a href="#" class="btn btn_green btn_brown">Узнать подробнее</a>
          </div>
        </div>
      </div>
      <div class="job__right-job">
        <ul class="job-list">
          <li class="job-item">
            <span class="job-span">
              1
            </span>
            <i class="bi bi-chat-square"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Консультация
              </p>
              <p class="job-right-desc-bot">
                Первичное согласование деталей проекта
              </p>
            </div>
          </li>
          <li class="job-item">
            <span class="job-span">
              2
            </span>
            <i class="bi bi-arrow-clockwise"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Обмен договорами
              </p>
              <p class="job-right-desc-bot">
                В офисе или по электронной почте
              </p>
            </div>
          </li>
          <li class="job-item">
            <span class="job-span">
              3
            </span>
            <i class="bi bi-briefcase"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Предоплата
              </p>
              <p class="job-right-desc-bot">
                Производство домокомплекта по договору после внесения аванса
              </p>
            </div>
          </li>
          <li class="job-item">
            <span class="job-span">
              4
            </span>
            <i class="bi bi-telephone-inbound"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Звонок диспетчера
              </p>
              <p class="job-right-desc-bot">
                Согласовываем дату выезда бригады на объект
              </p>
            </div>
          </li>
          <li class="job-item">
            <span class="job-span">
              5
            </span>
            <i class="bi bi-house-door"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Строительство
              </p>
              <p class="job-right-desc-bot">
                В согласованную дату привозим домокомплект на участок и приступаем к строительству
              </p>
            </div>
          </li>
          <li class="job-item">
            <span class="job-span">
              6
            </span>
            <i class="bi bi-check2-circle"></i>
            <div class="left-block-center">
              <p class="job-right-desc">
                Приемка объекта
              </p>
              <p class="job-right-desc-bot">
                Согласовываем дату выезда бригады на объект
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
