<section class="legal-info">
  <div class="wrapper">
    <h2 class="legal-info__section_title">
      Юридическая информация
    </h2>
    <div class="legal-info__general_equipment">
      <div class="legal-info__general_equipment_table">
        <div class="legal-info__general_equipment_row-th">
          <div class="legal-info__general_equipment_left">
            Наименование:
          </div>
          <div class="legal-info__general_equipment_right">
            ООО «ТопсХаус»
          </div>
        </div>
        <div class="legal-info__general_equipment_row">
          <div class="legal-info__general_equipment_left">
            ОГРН:
          </div>
          <div class="legal-info__general_equipment_right">
            1157746094220
          </div>
        </div>
        <div class="legal-info__general_equipment_row">
          <div class="legal-info__general_equipment_left">
            ИНН/ПП:
          </div>
          <div class="legal-info__general_equipment_right">
            7728191995 / 772801001
          </div>
        </div>
        <div class="legal-info__general_equipment_row">
          <div class="legal-info__general_equipment_left">
            Юридический адрес:
          </div>
          <div class="legal-info__general_equipment_right">
            117279, г. Москва, ул. Миклухо-Маклая, д. 34,
            этаж 0, пом. IV, комн. 37, оф. 72
          </div>
        </div>
        <div class="legal-info__general_equipment_row">
          <div class="legal-info__general_equipment_left">
            Банк:
          </div>
          <div class="legal-info__general_equipment_right">
            АО «АЛЬФА-БАНК», г. Москва
          </div>
        </div>
        <div class="legal-info__general_equipment_row">
          <div class="legal-info__general_equipment_left">
            Р/с:
          </div>
          <div class="legal-info__general_equipment_right">
            40702810601300006399
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
