<section class="offer">
  <div class="wrapper">
    <h2 class="section-suggestions__section-title">
      Специальные  предложения
    </h2>
    <div class="offer__flex">
      <a href="#" class="offer__content">
        <div class="offer-after">
          <div class="offer__border_green">
            <span>+</span>
          </div>
          <p class="offer-after-desc">
            Конкурсы с призами от компании ТопсХаус
          </p>
        </div>
        <div class="offer-block">
          <div class="offer-bg"></div>
          <div class="offer-description">
            <p class="offer-info">
              Конкурсы с подарками.
            </p>
            <p class="offer-data">
              До 24 апреля 2022
            </p>
          </div>
        </div>
      </a>
      <div class="offer__sale">
        <div class="offer__sale-info">
          <p class="offer-desc">
            Не нашли что искали?
          </p>
          <p class="offer-info-descr">
            Уценённые дома со скидкой 20%
          </p>
          <p class="offer-info-text">
            Пиломатериал, не соответствующий высшим критериям качества ТопсХаус даже имея незначительные изъяны, попадает в разряд «уцененного» и предлагается к реализации со значительной скидкой.
          </p>
          <div class="header__btn">
            <a href="#" class="btn btn_green btn_brown">Смотреть все предложения</a>
          </div>
        </div>
      </div>
      <div class="offer__time-warranty">
        <div class="offer__time">
          <a href="#">
            <div class="offer-after">
              <div class="offer__border_green">
                <span>+</span>
              </div>
              <p class="offer-after-desc">
                Вы давно собирались купить дачный домик дешево?Ваше время пришло!
              </p>
            </div>
            <div class="offer-block-time">
              <div class="offer-bg"></div>
              <div class="offer-time-description">
                <p class="offer-info">
                  Акция «Ваше время пришло!»
                </p>
                <p class="offer-data">
                  До  2020 г.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="offer__warranty">
          <a href="#">
            <div class="offer-after">
              <div class="offer__border_green">
                <span>+</span>
              </div>
              <p class="offer-after-desc">
                Нашли в другом магазине дешевле?
                Мы снизим нашу цену и компенсируем 25% от разницы в цене!
              </p>
            </div>
            <div class="offer-block-time">
              <div class="offer-time-description">
                <p class="offer-info">
                  Гарантия лучших цен
                </p>
                <p class="offer-data">
                  До  2020 г.
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="offer__flex">
      <a href="#" class="offer__product">
        <div class="offer-after">
          <div class="offer__border_green">
            <span>+</span>
          </div>
          <p class="offer-after-desc">
            Все клиенты ТопсХаус могут приобрести высококачественную лакокрасочную продукцию FORUMHOUSE со скидкой 5%, более того, еще 5% от суммы покупки мы вернем вам наличными!
          </p>
        </div>
        <div class="offer-block-time">
          <div class="offer-time-description">
            <p class="offer-info">
              5% на продукцию FORUMHOUSE
            </p>
            <p class="offer-data">
              До  2020 г.
            </p>
          </div>
        </div>
      </a>
      <a href="#" class="offer__friends">
        <div class="offer-after">
          <div class="offer__border_green">
            <span>+</span>
          </div>
          <p class="offer-after-desc">
            Рекомендуйте ТопсХаус своим друзьям, коллегам, соседям и ЗАРАБАТЫВАЙТЕ за каждый квадратный метр заказанных строений!
          </p>
        </div>
        <div class="offer-block-time">
          <div class="offer-time-description">
            <p class="offer-info">
              Приведи друга и заработай
            </p>
            <p class="offer-data">
              До  2020 г.
            </p>
          </div>
        </div>
      </a>
      <a href="#" class="offer__confidence">
        <div class="offer-after">
          <div class="offer__border_green">
            <span>+</span>
          </div>
          <p class="offer-after-desc">
            Cкидка 5% на 2-й и любые последующие заказы нашей продукции.Вы стали обладателем постройки от ТопсХаус? Поздравляем!
            И говорим Вам: Спасибо за Доверие!
          </p>
        </div>
        <div class="offer-block-time">
          <div class="offer-time-description">
            <p class="offer-info">
              Акция "Спасибо за доверие"
            </p>
            <p class="offer-data">
              До  2020 г.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
