<section class="offer">
  <div class="wrapper">
    <h2 class="section-suggestions__section-title">
      Специальные  предложения
    </h2>
    <div class="offer__flex">
      <div class="offer__content">
        <div class="offer-after">
          <p class="offer-after-desc">
            Конкурсы с призами от компании ТопсХаус
          </p>
        </div>
        <div class="offer-block">
          <div class="offer-bg"></div>
          <div class="offer-description">
            <p class="offer-info">
              Конкурсы с подарками.
            </p>
            <p class="offer-data">
              До 24 апреля 2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
