<section class="private-client">
  <div class="wrapper">
    <h2 class="private-client__section_title">
      «ТопсХаус» для частного клиента
    </h2>
    <div class="private-client__block">
      <div class="private-client__images">
        <img src="/img/private.webp">
      </div>
      <div class="private-client__descr">
        <p>
          Если вы планируете построить загородный дом – обращайтесь в один из наших офисов продаж. Квалифицированные консультанты всегда готовы ответить на ваши вопросы, помочь с выбором проекта дома, рассказать о преимуществах того или иного архитектурного решения и при необходимости внести изменения в типовой проект или разработать индивидуальный.
        </p>
        <p>
          Компания «ТопсХаус» осуществляет строительство под ключ. Возведение наших домов не требует масштабных строительных работ.
        </p>
        <p class="big">
          Благодаря инновационной технологии <b>возведение большинства строений из нашего каталога осуществляется за один день.</b>
        </p>
        <p>
          Широкий список дополнительных услуг по отделке и монтажу позволит реализовать все задумки и пожелания, и даже типовой проект приобретет индивидуальные черты.
        </p>
        <p>
          В ходе выбора строения часто возникают нестандартные задачи и пожелания по внесению изменений в типовой проект. Специалисты проектного отдела компании «ТопсХаус» готовы подсказать и дать развернутую консультацию по всем интересующим вопросам.
        </p>
      </div>
    </div>
  </div>
</section>
