<div class="product__general_options_label">
  <input type="checkbox" id="checkbox1">
  <label for="checkbox1">
    Сборка и монтаж домокомплекта <span class="catalog__filter_label-input">48 450 руб.</span>
  </label>
  <input type="checkbox" id="checkbox2">
  <label for="checkbox2">
    Доставка от 4400 руб. (рассчитывается индивидуально) <span class="catalog__filter_label-input">4 400 руб.</span>
  </label>
  <input type="checkbox" id="checkbox3">
  <label for="checkbox3">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox4">
  <label for="checkbox4">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox5">
  <label for="checkbox5">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox6">
  <label for="checkbox6">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox7">
  <label for="checkbox7">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox8">
  <label for="checkbox8">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
  <input type="checkbox" id="checkbox9">
  <label for="checkbox9">
    Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
  </label>
</div>
<div class="product__general_options_foundation">
  <div class="product__general_options_foundation_choice">
    <img class="product__general_options_foundation_images" src="/img/foundation.webp">
    <p class="product__general_options_foundation_title">
      Фундамент
    </p>
    <div class="product__general_options_foundation_border"></div>
    <img class="product__general_options_foundation_arrow" src="/img/option-group-arrow.png">
  </div>
  <div class="product__general_options_foundation_input">
    <input type="checkbox" id="checkbox21">
    <label for="checkbox21">
      Фундамент из оцинкованных винтовых свай <span class="catalog__filter_label-input">90 000 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Винтовые сваи нового поколения защищены от коррозии цинковым покрытием. Толщина цинка составляет более 80мкм. Такую толщину можно получить только при применении метода горячего цинкования (погружение изделия в расплав цинка).
      Эта технология применяется в промышленности уже более 150 лет и до сих пор является самой надежной для защиты металлических конструкций от коррозии.
    </p>
    <input type="checkbox" id="checkbox22">
    <label for="checkbox22">
      Замена кровельного покрытия на м/ч Грандлайн "Модерн 0,45 РЕ" <span class="catalog__filter_label-input">51 700 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Винтовые сваи нового поколения защищены от коррозии цинковым покрытием. Толщина цинка составляет более 80мкм. Такую толщину можно получить только при применении метода горячего цинкования (погружение изделия в расплав цинка).
      Эта технология применяется в промышленности уже более 150 лет и до сих пор является самой надежной для защиты металлических конструкций от коррозии.
    </p>
  </div>
</div>
<div class="product__general_options_foundation">
  <div class="product__general_options_foundation_choice">
    <img class="product__general_options_foundation_images" src="/img/foundation1.webp">
    <p class="product__general_options_foundation_title">
      Полы
    </p>
    <div class="product__general_options_foundation_border"></div>
    <img class="product__general_options_foundation_arrow" src="/img/option-group-arrow.png">
  </div>
  <div class="product__general_options_foundation_input">
    <input type="checkbox" id="checkbox31">
    <label for="checkbox1">
      Замена доски пола на террасную доску (сосна, ель)<span class="catalog__filter_label-input">3 200 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
    <input type="checkbox" id="checkbox32">
    <label for="checkbox32">
      Замена доски пола на OSB3 (ОСП)<span class="catalog__filter_label-input">-1 200 руб.</span>
    </label>
    <input type="checkbox" id="checkbox33">
    <label for="checkbox33">
      Замена доски пола на OSB3 (ОСП)<span class="catalog__filter_label-input">-1 200 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
  </div>
</div>
<div class="product__general_options_foundation">
  <div class="product__general_options_foundation_choice">
    <img class="product__general_options_foundation_images" src="/img/foundation2.webp">
    <p class="product__general_options_foundation_title">
      Перепланировка
    </p>
    <div class="product__general_options_foundation_border"></div>
    <img class="product__general_options_foundation_arrow" src="/img/option-group-arrow.png">
  </div>
  <div class="product__general_options_foundation_input">
    <input type="checkbox" id="checkbox41">
    <label for="checkbox41">
      Внесение изменений в типовой проект<span class="catalog__filter_label-input">3 300 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
  </div>
</div>
<div class="product__general_options_foundation">
  <div class="product__general_options_foundation_choice">
    <img class="product__general_options_foundation_images" src="/img/foundation3.webp">
    <p class="product__general_options_foundation_title">
      Инженерное оборудование
    </p>
    <div class="product__general_options_foundation_border"></div>
    <img class="product__general_options_foundation_arrow" src="/img/option-group-arrow.png">
  </div>
  <div class="product__general_options_foundation_input">
    <input type="checkbox" id="checkbox51">
    <label for="checkbox51">
      Планка снегозадержателя 95х65 с усиливающей планкой<span class="catalog__filter_label-input">6 300 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
    <input type="checkbox" id="checkbox52">
    <label for="checkbox52">
      Печь-камин «Ока»<span class="catalog__filter_label-input">124 300 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
  </div>
</div>
<div class="product__general_options_foundation">
  <div class="product__general_options_foundation_choice">
    <img class="product__general_options_foundation_images" src="/img/foundation4.webp">
    <p class="product__general_options_foundation_title">
      Окна и двери
    </p>
    <div class="product__general_options_foundation_border"></div>
    <img class="product__general_options_foundation_arrow" src="/img/option-group-arrow.png">
  </div>
  <div class="product__general_options_foundation_input">
    <input type="checkbox" id="checkbox61">
    <label for="checkbox61">
      Комплект пластиковых окон<span class="catalog__filter_label-input">49 000 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
    <input type="checkbox" id="checkbox62">
    <label for="checkbox6s2">
      Дверь ПВХ (h)2080х880 мм<span class="catalog__filter_label-input">27 700 руб.</span>
    </label>
    <p class="product__general_options_foundation_info">
      Замена доски пола на террасе на террасную доску из хвойных пород древесины (опция доступна только для открытых террас подвергающихся воздействию осадков)
    </p>
  </div>
</div>
