<section class="production-cycle">
  <div class="wrapper">
    <h2 class="production-cycle__section__title">
      Полный цикл производства
    </h2>
    <p class="production-cycle__subtitle">
      Собственные производственные мощности компании позволяют осуществлять полный цикл изготовления домокомлекта:
    </p>
    <div class="production-cycle__block_top">
      <div class="production-cycle__block_left">
        <img class="production-cycle__images" src="/img/production-cycle1.webp">
        <img class="production-cycle__images" src="/img/production-cycle2.webp">
      </div>
      <div class="production-cycle__block_right">
        <div class="production-cycle__bg">
          <div class="production-cycle__item  production-cycle__position_one">
            <p class="production-cycle__number">
              1
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
          <div class="production-cycle__item production-cycle__position_two">
            <p class="production-cycle__number">
              2
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
          <div class="production-cycle__item production-cycle__position_three">
            <p class="production-cycle__number">
              3
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
          <div class="production-cycle__item production-cycle__position_four">
            <p class="production-cycle__number">
              4
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
          <div class="production-cycle__item production-cycle__position_five">
            <p class="production-cycle__number">
              5
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
          <div class="production-cycle__item production-cycle__position_six">
            <p class="production-cycle__number">
              6
            </p>
            <p class="production-cycle__descr">
              Заготовка
              высококачественного
              сырья
            </p>
          </div>
        </div>
        <div class="production-cycle__bottom_descr">
          <p class="production-cycle__bottom_text">
            Заготовка древесины, распиловка, сушка и профилирование происходят в Архангельской, Вологодской и Костромской областях. Затем, на производственной базе в Москве, происходит запил бруса под проект и комплектация его окнами, кровлей и всем остальным. Отсюда готовые комплекты домов мы отгружаем во все регионы России, страны СНГ, Европу и Азию.
          </p>
        </div>
      </div>
    </div>
    <div class="production-cycle__block_bottom">
      <div class="production-cycle__block-info">
        <div class="production-cycle__before">
          <p class="production-cycle__desc">
            Заключены эксклюзивные долгосрочные договоры поставки с ведущими лесозаготовитель- ными базами, что позволяет нам:
          </p>
          <ul class="production-cycle__list">
            <li class="production-cycle__list_item">
              своевременно получать необходимые объемы древесины для производства, исключая посредников и их наценки
            </li>
            <li class="production-cycle__list_item">
              предлагать выгодные цены на конечную продукцию
            </li>
            <li class="production-cycle__list_item">
              осуществлять контроль качества заготовленного сырья, соответственно на производственную линию поступает древесина только наивысшего качества
            </li>
          </ul>
        </div>
      </div>
      <div class="production-cycle__block-video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/vd5hLqEi83c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
