<section class="product">
  <div class="wrapper">
    <h2 class="product__section_title">
      Дачный дом с верандой «Добрый вечер»
    </h2>
    <div class="catalog__container_languages">
      <p class="catalog__container_descr-choice">
        Выберите валюту:
      </p>
      <a href="#" class="catalog__container_link-choice active">
        RUB/
      </a>
      <a href="#" class="catalog__container_link-choice">
        USD/
      </a>
      <a href="#" class="catalog__container_link-choice">
        EUR/
      </a>
      <a href="#" class="catalog__container_link-choice">
        KZT/
      </a>
      <a href="#" class="catalog__container_link-choice">
        UAH/
      </a>
      <a href="#" class="catalog__container_link-choice">
        BYN
      </a>
    </div>
    <div class="product__center">
      <div class="product__slider_left">
        <div class="product__slider_img-list">
          <div class="your-class">
            <div><img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера"></div>
          </div>
          <div class="your-class2">
            <div><img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера"></div>
            <div><iframe height="509px" class="slider-list-garden" src="https://www.youtube.com/embed/WqdwJ1K3bEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера"></div>
          </div>
        </div>
        <div class="product__general">
          <ul class="product__general_list">
            <li class="product__general_item">
              <a class="product__general_link description-list active" href="">Описание</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link layout-list" href="">Планировка</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link equipment-list" href="">Комплектация</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link optilon-list" href="">Дополнительные опции</a>
            </li>
          </ul>
          <div class="product__general_description active">
            <p class="product__general_description_descr">
              Для многих вечер – это лучшее время суток, когда можно отдохнуть после напряженного дня. А если вечер выдается добрым, то это радует многократно.
            </p>
            <p class="product__general_description_descr">
              <a class="information_link" href="/dachnye-doma-iz-brusa.html">Дачный дом</a> с верандой «Добрый вечер» полностью оправдывает свое название, буквально сошедший со старинного фото. Компактный и просторный одновременно (36 кв. м.), этот одноэтажный садовый дом имеет 3 отдельные комнаты (холл в 16 метров, и две санитарных зоны в 3,1 и 4,4 м²) и шикарное крыльцо площадью более 8 метров.
              Наш дачный домик с верандой буквально обречен стать центром притяжения и объединения семьи.
            </p>
            <p class="product__general_description_descr">
              Взгляните отдельно на фото веранды садового дома. Легкая и воздушная, она позволяет разместить не только обеденную группу, но и, к примеру, пляжные шезлонги.
              Согласитесь, приятно расслабиться и позагорать, спрятавшись от чужих взглядов, но ощущая вокруг родную домашнюю обстановку и защищенность дачного дома из бруса.
            </p>
            <p class="product__general_description_descr">
              Выбрав садовый домик с верандой «Добрый вечер» можно быть уверенным, что все вечера в нем обязательно будут добрыми!
            </p>
          </div>
          <div class="product__general_layout">
            <img src="../img/layout.webp">
          </div>
          <div class="product__general_equipment">
            <div class="product__general_equipment_table">
              <div class="product__general_equipment_row-th">
                <div class="product__general_equipment_left">
                  Наименование
                </div>
                <div class="product__general_equipment_right">
                  Описание
                </div>
              </div>
              <div class="product__general_equipment_row">
                <div class="product__general_equipment_left">
                  Фундамент
                </div>
                <div class="product__general_equipment_right">
                  Основание под фундаментные блоки из песко-цементной смеси толщиной 5-10 см
                </div>
                <div class="product__general_equipment_right">
                  Полнотелые песко-цементные фундаментные блоки сечением 200х200х400 мм
                </div>
                <div class="product__general_equipment_right">
                  Полнотелые песко-цементные фундаментные блоки сечением 200х200х400 мм
                </div>
              </div>
              <div class="product__general_equipment_row">
                <div class="product__general_equipment_left">
                  Подвенечный оклад (обвязка)
                </div>
                <div class="product__general_equipment_right">
                  Брус из древесины хвойных пород дерева естественной сушки сечением 100х150 мм
                </div>
              </div>
              <div class="product__general_equipment_row">
                <div class="product__general_equipment_left">
                  Наружные стены (17 венцов - высота стены 2,295 м), фронтоны и перегородки
                </div>
                <div class="product__general_equipment_right">
                  Профилированный строганный мини-брус камерной сушки сечением 44х135 мм, влажность 12-14%, монтируется по технологии четырехстороннего замкового паза с ветровым замком (теплый непродуваемый угол)
                </div>
                <div class="product__general_equipment_right">
                  Профилированный клееный брус сечением 60/80х135 мм, влажность 12-14%, монтируется по технологии четырехстороннего замкового паза с ветровым замком (теплый непродуваемый угол)
                </div>
              </div>
            </div>
          </div>
          <div class="product__general_options">
            @include('product-option.html')
          </div>
        </div>
      </div>
      <div class="product__description_right">
        <h3 class="product__description_title">
          Характеристики
        </h3>
        <div class="product__description_border"></div>
        <ul class="product__description_list">
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Площадь строения
              </p>
              <p class="product__description_choice_bottom">
                36 м <sup>2</sup>
              </p>
            </div>
          </li>
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block2.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Внешние размеры
              </p>
              <p class="product__description_choice_bottom">
                6,0x6,0 м
              </p>
            </div>
          </li>
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block3.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Площадь веранды
              </p>
              <p class="product__description_choice_bottom">
               8.3 м <sup>2</sup>
              </p>
            </div>
          </li>
        </ul>
        <h3 class="product__description_title">
          Варианты исполнения
          <div class="product__description_border_center"></div>
        </h3>
        <div class="header__btn">
          <a href="" class="btn btn_green btn_brown">Домокомплект</a>
        </div>
        <div class="product__description_input">
          <input type="radio" id="radio1" value="radio1" name="radio" checked="checked">
          <label for="radio1">
            мини-брус камерной сушки 135x45 мм<span class="catalog__filter_label-input">538 100 руб.</span>
          </label>
          <input type="radio" id="radio2" value="radio2" name="radio">
          <label for="radio2">
            клеенный брус 135x60 мм <span class="catalog__filter_label-input">834 050 руб.</span>
          </label>
          <input type="radio" id="radio3" value="radio3" name="radio">
          <label for="radio3">
            клеенный брус 135x80 мм <span class="catalog__filter_label-input">909 350 руб.</span>
          </label>
          <input type="radio" id="radio4" value="radio4" name="radio">
          <label for="radio4">
            двойной брус 135x190 мм <span class="catalog__filter_label-input">1 017 000 руб.</span>
          </label>
          <input type="radio" id="radio5" value="radio5" name="radio">
          <label for="radio5">
            двойной клееный брус 135x250 мм<span class="catalog__filter_label-input">1 318 300 руб.</span>
          </label>
          <input type="radio" id="radio6" value="radio6" name="radio">
          <label for="radio6">
            клеенный брус 135x120 мм<span class="catalog__filter_label-input">1 092 300 руб.</span>
          </label>
          @include('product-option.html')
        </div>
        <div class="product__description_group">
          <p class="product__description_group-descr">
            Стоимость с учетом выбранных опций
          </p>
          <div class="product__description_border-bottom"></div>
          <p class="product__description_group-price">
          </p>
        </div>
        <div class="product__description_button">
          <div class="header__btn">
            <a href="" class="btn btn_green">Отправить заявку</a>
            <a href="" class="btn btn_green btn_brown">Рассчитать кредит</a>
            <a href="" class="btn btn_green btn_transparent">Распечатать</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
