<section class="product">
  <div class="wrapper">
    <h2 class="product__section_title">
      Дачный дом с верандой «Добрый вечер»
    </h2>
    <div class="catalog__container_languages">
      <p class="catalog__container_descr-choice">
        Выберите валюту:
      </p>
      <a href="#" class="catalog__container_link-choice active">
        RUB/
      </a>
      <a href="#" class="catalog__container_link-choice">
        USD/
      </a>
      <a href="#" class="catalog__container_link-choice">
        EUR/
      </a>
      <a href="#" class="catalog__container_link-choice">
        KZT/
      </a>
      <a href="#" class="catalog__container_link-choice">
        UAH/
      </a>
      <a href="#" class="catalog__container_link-choice">
        BYN
      </a>
    </div>
    <div class="product__center">
      <div class="product__slider_left">
        <div class="product__slider_img-list">
          <div class="your-class">
            <div><img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера"></div>
          </div>
          <div class="your-class2">
            <div><img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера"></div>
            <div><img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера"></div>
          </div>
        </div>
        <div class="product__general">
          <ul class="product__general_list">
            <li class="product__general_item">
              <a class="product__general_link active" href="">Описание</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link" href="">Планировка</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link" href="">Комплектация</a>
            </li>
            <li class="product__general_item">
              <a class="product__general_link" href="">Дополнительные опции</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="product__description_right">
        <h3 class="product__description_title">
          Характеристики
        </h3>
        <div class="product__description_border"></div>
        <ul class="product__description_list">
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Площадь строения
              </p>
              <p class="product__description_choice_bottom">
                36 м <sup>2</sup>
              </p>
            </div>
          </li>
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Площадь строения
              </p>
              <p class="product__description_choice_bottom">
                36 м <sup>2</sup>
              </p>
            </div>
          </li>
          <li class="product__description_item">
            <img class="product__description_img" src="../img/red-block.webp">
            <div class="product__description_choice">
              <p class="product__description_choice_top">
                Площадь строения
              </p>
              <p class="product__description_choice_bottom">
                36 м <sup>2</sup>
              </p>
            </div>
          </li>
        </ul>
        <h3 class="product__description_title">
          Варианты исполнения
        </h3>
        <div class="product__description_border_center"></div>
        <div class="header__btn">
          <a href="" class="btn btn_green btn_brown">Домокомплект</a>
        </div>
        <div class="product__description_input">
          <input type="radio" id="radio1" value="radio1">
          <label for="radio1">
            мини-брус камерной сушки 135x45 мм<span class="catalog__filter_label-input">538 100 руб.</span>
          </label>
          <input type="radio" id="radio2" value="radio2">
          <label for="radio2">
            клеенный брус 135x60 мм <span class="catalog__filter_label-input">834 050 руб.</span>
          </label>
          <input type="radio" id="radio3" value="radio3">
          <label for="radio3">
            клеенный брус 135x80 мм <span class="catalog__filter_label-input">909 350 руб.</span>
          </label>
          <input type="radio" id="radio4" value="radio4">
          <label for="radio4">
            двойной брус 135x190 мм <span class="catalog__filter_label-input">1 017 000 руб.</span>
          </label>
          <input type="radio" id="radio5" value="radio5">
          <label for="radio5">
            двойной клееный брус 135x250 мм<span class="catalog__filter_label-input">1 318 300 руб.</span>
          </label>
          <input type="radio" id="radio6" value="radio6">
          <label for="radio6">
            клеенный брус 135x120 мм<span class="catalog__filter_label-input">1 092 300 руб.</span>
          </label>
        </div>
        <div class="product__description_group">
          <p class="product__description_group-descr">
            Стоимость с учетом выбранных опций
          </p>
          <p class="product__description_group-price">
            1 092 300 руб.
          </p>
        </div>
        <div class="product__description_button">
          <div class="header__btn">
            <a href="" class="btn btn_green">Отправить заявку</a>
            <a href="" class="btn btn_green btn_brown">Рассчитать кредит</a>
            <a href="" class="btn btn_green btn_transparent">Распечатать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
