<section class="quality">
  <div class="wrapper">
    <h1 class="quality__section_title">
      Наши преимущества
    </h1>
    <div class="quality__block">
      <div class="quality__block_item">
        <img src="/img/block-ico.webp" alt="картинка">
        <div class="quality__block_choise">
          <p class="quality__block_title">
            Качественный дом
          </p>
          <p class="quality__block_descr">
            Все детали строения изготавливаются на нашем заводе с высокой точностью из качественных материалов
          </p>
        </div>
      </div>
      <div class="quality__block_item">
        <img src="/img/block-ico.webp" alt="картинка">
        <div class="quality__block_choise">
          <p class="quality__block_title">
            Экономия денежных средств
          </p>
          <p class="quality__block_descr">
            Комплексный подход и оптимизация работы на всех этапах позволяют нам гарантировать лучшие цены
          </p>
        </div>
      </div>
      <div class="quality__block_item">
        <img src="/img/block-ico.webp" alt="картинка">
        <div class="quality__block_choise">
          <p class="quality__block_title">
            Доставка и разгрузка
          </p>
          <p class="quality__block_descr">
            Осуществляется без использования тяжелой техники даже на труднодоступный участок
          </p>
        </div>
      </div>
      <div class="quality__block_item">
        <img src="/img/block-ico.webp" alt="картинка">
        <div class="quality__block_choise">
          <p class="quality__block_title">
            Профессиональный монтаж
          </p>
          <p class="quality__block_descr">
            Собираем дом в считанные дни с сохраннием ландшафта
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- quality-bg.jpg -->
