<section class="slider">
  <div class="wrapper">
    <div class="slider__slider-block">
      <div class="slider__wrapper">
        <img class="slider-images active" src="../img/slider1.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider2.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider3.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider4.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider5.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider6.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider7.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider8.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider9.webp" alt="картинка слайдера">
        <img class="slider-images" src="../img/slider10.webp" alt="картинка слайдера">
      </div>
      <div class="slider__arrow-slider">
        <i class="fa-solid fa-chevron-left"></i>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="slider__click">
        <div class="click-gray active"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
        <div class="click-gray"></div>
      </div>
    </div>
    <div class="slider__description-bottom">
      <div class="description-bottom_list-slider">
        <i class="fa-regular fa-clock"></i>
        <p class="list-slider-desc">
          Дом за&nbsp;один день
        </p>
      </div>
      <div class="description-bottom_list-slider">
        <i class="fa-regular fa-thumbs-up"></i>
        <p class="list-slider-desc">
          Гарантия лучших цен
        </p>
      </div>
      <div class="description-bottom_list-slider">
        <i class="fa-thin fa-wrench"></i>
        <p class="list-slider-desc">
          Собственное производство
        </p>
      </div>
      <div class="description-bottom_list-slider">
        <i class="fa-regular fa-layer-group"></i>
        <p class="list-slider-desc">
          Более 300 проектов
        </p>
      </div>
      <div class="description-bottom_list-slider">
        <i class="fa-regular fa-pen-to-square"></i>
        <p class="list-slider-desc">
          Индивидуальное проектирование
        </p>
      </div>
      <div class="description-bottom_list-slider">
        <i class="fa-regular fa-anchor"></i>
        <p class="list-slider-desc">
          Без проживания бригады
        </p>
      </div>
    </div>
  </div>
</section>
