<section class="slider-list-bg">
  <div class="wrapper">
    <h2 class="slider-list-title">
      Вас так же может заинтересовать
    </h2>
    <ul class="slider-list__list-title">
      <li class="slider-list-item">
        <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
        <div class="hit__images">
          <img src="/img/hit.png">
        </div>
        <div class="item_hovered">
          <img src="/img/item-hovered.png">
        </div>
        <div class="suggestions-info">
          <a href="/product.html" class="suggestions-link">
            <p>Дачный дом «Добрый вечер»</p>
          </a>
          <p class="suggestions-span">
            538 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="bi bi-arrows-move"></i>
              <p class="icon-descr">
                3,5×8,0&nbsp;м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="bi bi-fullscreen"></i>
              <p class="icon-descr">
                28&nbsp;м²
              </p>
            </li>
          </ul>
          <div class="header__btn">
            <a href="" class="btn btn_green">Сравнить</a>
            <a href="" class="btn btn_green">Заявка в 1 клик</a>
          </div>
        </div>
      </li>
      <li class="slider-list-item">
        <img class="slider-list-garden active" src="img/catalog1.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog5.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
        <div class="hit__images">
          <img src="/img/hit.png">
        </div>
        <div class="item_hovered">
          <img src="/img/item-hovered.png">
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Дачный дом «Добрый вечер»</p>
          </a>
          <p class="suggestions-span">
            538 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="bi bi-arrows-move"></i>
              <p class="icon-descr">
                3,5×8,0&nbsp;м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="bi bi-fullscreen"></i>
              <p class="icon-descr">
                28&nbsp;м²
              </p>
            </li>
          </ul>
          <div class="header__btn">
            <a href="" class="btn btn_green">Сравнить</a>
            <a href="" class="btn btn_green">Заявка в 1 клик</a>
          </div>
        </div>
      </li>
      <li class="slider-list-item">
        <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
        <img class="slider-list-garden active" src="img/catalog5.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
        <div class="hit__images">
          <img src="/img/hit.png">
        </div>
        <div class="item_hovered">
          <img src="/img/item-hovered.png">
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Дачный дом «Добрый вечер»</p>
          </a>
          <p class="suggestions-span">
            538 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="bi bi-arrows-move"></i>
              <p class="icon-descr">
                3,5×8,0&nbsp;м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="bi bi-fullscreen"></i>
              <p class="icon-descr">
                28&nbsp;м²
              </p>
            </li>
          </ul>
          <div class="header__btn">
            <a href="" class="btn btn_green">Сравнить</a>
            <a href="" class="btn btn_green">Заявка в 1 клик</a>
          </div>
        </div>
      </li>
      <li class="slider-list-item">
        <img class="slider-list-garden" src="img/catalog1.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog2.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog3.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog4.webp" alt="картинка слайдера">
        <img class="slider-list-garden active" src="img/catalog5.webp" alt="картинка слайдера">
        <img class="slider-list-garden" src="img/catalog6.webp" alt="картинка слайдера">
        <div class="hit__images">
          <img src="/img/hit.png">
        </div>
        <div class="item_hovered">
          <img src="/img/item-hovered.png">
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Дачный дом «Добрый вечер»</p>
          </a>
          <p class="suggestions-span">
            538 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="bi bi-arrows-move"></i>
              <p class="icon-descr">
                3,5×8,0&nbsp;м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="bi bi-fullscreen"></i>
              <p class="icon-descr">
                28&nbsp;м²
              </p>
            </li>
          </ul>
          <div class="header__btn">
            <a href="" class="btn btn_green">Сравнить</a>
            <a href="" class="btn btn_green">Заявка в 1 клик</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
