<section class="slider-list">
  <div class="wrapper">
    <div class="slider-list__list-section">
      <div class="slider-list-item mobile">
        <p class="slider-list-descr">
          Что мы строим?
        </p>
        <p class="slider-list-desc">
          Очень уютные домики
        </p>
        <p class="b-title__description">Мы&nbsp;предлагаем вашему вниманию готовые проекты недорогих дачных
          сооружений, каждое из&nbsp;которых обладает всеми вышеперечисленными преимуществами. Вы&nbsp;можете
          заказать строительство по&nbsp;любому типовому эскизу, и&nbsp;тогда мы&nbsp;приступим к&nbsp;работе без
          предоплаты.
      </p>
      </div>
      <ul class="slider-list__list-title">
        <li class="slider-list-item">
          <p class="slider-list-descr">
            Что мы строим?
          </p>
          <p class="slider-list-desc">
            Очень уютные домики
          </p>
          <div class="header__btn">
            <a href="" class="btn btn_green">Узнать подробнее</a>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/garden1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garden2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garden3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garden4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garden5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garden6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Беседки садовые
            </p>
            <p class="slider-list-description">
              38 проектов
              <span class="slider-list-span">
                от 45 500 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/hozbloki1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozbloki2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozbloki3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozbloki4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozbloki5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozbloki6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Взломостойкие хозблоки СКАЛА
            </p>
            <p class="slider-list-description">
              6 проектов
              <span class="slider-list-span">
                от 100 150 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/garaz1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garaz2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garaz3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garaz4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garaz5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/garaz6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Гаражи из бруса
            </p>
            <p class="slider-list-description">
              16 проектов
              <span class="slider-list-span">
                от 189 150 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/ban1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/ban2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/ban3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/ban4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/ban5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/ban6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Мобильные бани
            </p>
            <p class="slider-list-description">
              8 проектов
              <span class="slider-list-span">
                от 264 950 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/aviary1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/aviary2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/aviary3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/aviary4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/aviary5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/aviary6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Вольеры для собак
            </p>
            <p class="slider-list-description">
              6 проектов
              <span class="slider-list-span">
                от 22 550 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/toilet1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/toilet2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/toilet3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/toilet4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/toilet5.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Хозблоки с туалетом и душем
            </p>
            <p class="slider-list-description">
              5 проектов
              <span class="slider-list-span">
                от 123 300 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/home1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/home2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/home3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/home4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/home5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/home6.webp" alt="картинка слайдера">
           <div class="slider-item-block-text">
            <p class="slider-list-text">
              Дачные дома
            </p>
            <p class="slider-list-description">
              60 проектов
              <span class="slider-list-span">
                от 107 150 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/warm1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/warm2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/warm3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/warm4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/warm5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/warm6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Теплые дома
            </p>
            <p class="slider-list-description">
              51 проектов
              <span class="slider-list-span">
                от 773 550 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/timber1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/timber2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/timber3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/timber4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/timber5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/timber6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Бани из бруса
            </p>
            <p class="slider-list-description">
              20 проектов
              <span class="slider-list-span">
                от 159 650 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/sad1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/sad2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/sad3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/sad4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/sad5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/sad6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Садовые домики
            </p>
            <p class="slider-list-description">
              43 проектов
              <span class="slider-list-span">
                от 99 700 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/hozdacha1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozdacha2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozdacha3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozdacha4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozdacha5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/hozdacha6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Хозблоки для дачи
            </p>
            <p class="slider-list-description">
              48 проектов
              <span class="slider-list-span">
                от 22 550 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/cabins1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/cabins2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/cabins3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/cabins4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/cabins5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/cabins6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Бытовки дачные
            </p>
            <p class="slider-list-description">
              9 проектов
              <span class="slider-list-span">
                от 56 600 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/children1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/children2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/children3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/children4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/children5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/children6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Детские домики
            </p>
            <p class="slider-list-description">
              8 проектов
              <span class="slider-list-span">
                от 38 850 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/guests1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/guests2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/guests3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/guests4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/guests5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/guests6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Гостевые домики
            </p>
            <p class="slider-list-description">
              38 проектов
              <span class="slider-list-span">
                от 219 200 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/car1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/car2.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/car3.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/car4.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/car5.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/car6.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Деревянные навесы для автомобилей
            </p>
            <p class="slider-list-description">
              6 проектов
              <span class="slider-list-span">
                от 193 200 руб.
              </span>
            </p>
          </div>
        </li>
        <li class="slider-list-item">
          <img class="slider-list-garden active" src="img/pavilion1.webp" alt="картинка слайдера">
          <img class="slider-list-garden" src="img/pavilion2.webp" alt="картинка слайдера">
          <div class="slider-item-block-text">
            <p class="slider-list-text">
              Торговые павильоны
            </p>
            <p class="slider-list-description">
              2 проектов
              <span class="slider-list-span">
                от 102 600 руб.
              </span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

