<section class="slider-suggestions">
  <div class="wrapper">
    <h2 class="section-suggestions__section-title">
      Популярные предложения
    </h2>
    <div class="slider-suggestions__block-suggestions">
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car6.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес для автомобиля с мастерской «...</p>
          </a>
          <p class="suggestions-span">
            от 392 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                3,5х8,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                28 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/guests4.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>ГОСТЕВОЙ  ДОМ «ШАЛЕ»</p>
          </a>
          <p class="suggestions-span">
            от 476 000 руб
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                6,0x4,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                24 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car7.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес для машины «Ласточкино гнездо...</p>
          </a>
          <p class="suggestions-span">
            от 210 200 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                5,5х4,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                22 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car8.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес с мастерской «Умелые руки»</p>
          </a>
          <p class="suggestions-span">
            от 360 400 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                6,0х5,5 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                27 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car9.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес с кладовкой «Мечта хозяина»</p>
          </a>
          <p class="suggestions-span">
            от 349 200 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                5,5х5,4 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                29.7 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/homea1.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка «Царская»</p>
          </a>
          <p class="suggestions-span">
            от 574 600 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                8,0х4,4 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                30 м²
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-arrow-up"></i>
              <p class="icon-descr">
                Один этаж
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/sad7.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка «Садовая 2.0»</p>
          </a>
          <p class="suggestions-span">
            от 187 800 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                4,0х2,5 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                10 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/sad8.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка «Александр Блок 3.0»</p>
          </a>
          <p class="suggestions-span">
            от 152 700 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                3,0x3,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                9 м²
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-arrow-up"></i>
              <p class="icon-descr">
                Один этаж
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/besedka1.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка из бруса «Ром-Антик»</p>
          </a>
          <p class="suggestions-span">
            от 50 600 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                2,5х1,1 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                2.75 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/besedka2.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка из бруса «Дачная дюжина»</p>
          </a>
          <p class="suggestions-span">
            от 145 800 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                3,0x4,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                12 м²
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-arrow-up"></i>
              <p class="icon-descr">
                Один этаж
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list suggestions-list-border">
        <div class="suggestions-info">
            <p class="suggestions-des">
              Не нашли что искали?
            </p>
            <p class="suggestions-info-descr">
              Закажите индивидуальный проект
            </p>
            <div class="header__btn">
              <a href="#" class="btn btn_green btn_brown">Узнать подробнее</a>
            </div>
            <div class="suggestions-backgraund">

            </div>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/besedka3.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка из бруса «Подарок 2.0»</p>
          </a>
          <p class="suggestions-span">
            от 90 200 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                3,0x2,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                6 м²
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-arrow-up"></i>
              <p class="icon-descr">
                Один этаж
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/besedka4.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Беседка «Подарок»</p>
          </a>
          <p class="suggestions-span">
            от 93 400 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                2,5x2,5 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                5 м²
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-arrow-up"></i>
              <p class="icon-descr">
                Один этаж
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
