<section class="slider-suggestions">
  <div class="wrapper">
    <h2 class="section-suggestions__section-title">
      Популярные предложения
    </h2>
    <div class="slider-suggestions__block-suggestions">
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car6.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес для автомобиля с мастерской «...</p>
          </a>
          <p class="suggestions-span">
            от 392 100 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                3,5х8,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                28 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/guests4.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>ГОСТЕВОЙ  ДОМ «ШАЛЕ»</p>
          </a>
          <p class="suggestions-span">
            от 476 000 руб
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                6,0x4,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                24 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="suggestions-list">
        <div class="suggestions-backgraund">
          <img class="suggestions-images" src="img/car7.webp" alt="картинка слайдера">
          <div class="suggestions-triangle">+</div>
        </div>
        <div class="suggestions-info">
          <a href="#" class="suggestions-link">
            <p>Навес для машины «Ласточкино гнездо...</p>
          </a>
          <p class="suggestions-span">
            от 210 200 руб.
          </p>
          <div class="suggestions-border"></div>
          <ul class="suggestions-description-link">
            <li class="suggestions-item">
              <i class="fa-regular fa-arrows-up-down-left-right"></i>
              <p class="icon-descr">
                5,5х4,0 м
              </p>
            </li>
            <li class="suggestions-item">
              <i class="fa-regular fa-compress-wide"></i>
              <p class="icon-descr">
                22 м²
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
