<section class="social">
  <div class="wrapper">
    <div class="social__block">
      <p class="social__block_descr">
        Мы в соцсетях:
      </p>
      <ul class="social__block_list">
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="bi bi-instagram"></i>
          </a>
        </li>
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="bi bi-youtube"></i>
          </a>
        </li>
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="fa-brands fa-vk"></i>
          </a>
        </li>
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="social__block_item">
          <a href="" class="social__block_icon">
            <i class="fa-brands fa-odnoklassniki-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
