<section class="header-bottom">
  <div class="wrapper">
    <div class="header-bottom_padding">
      <p class="header-bottom__descr-bottom">
        Конкурсы с подарками.
      </p>
      <div class="header-bottom__btn">
        <a href="" class="btn__btn_gray">
          Подробнее о предложении
        </a>
      </div>
      <div class="header-bottom__time">
        <i class="fa-regular fa-clock"></i>
        <p class="header-bottom__time-descr">
          Предложение доступно ещё 10 дней 02:39:32
        </p>
      </div>
    </div>
  </div>
</section>
