<section class="technology">
  <div class="wrapper">
    <div class="technology__info">
      <p class="technology_descr_brow">
        Ничего не понимаете в технологии?
      </p>
      <p class="technology_descr_black">
        Объясняем наглядно
      </p>
    </div>
    <h3 class="section-technology-title">
      Фундамент
    </h3>
    <div class="technology-list-block">
      <ul class="technology-list">
        <li class="technology-item">
          <p class="technology-title-descr">
            Опорно-столбчатый
          </p>
          <img class="technology-bg" src="/img/explain1.webp">
          <p class="technology-description">
            При забивке железобетонной сваи, вокруг нее происходит мощнейшее уплотнение грунта — до 30% несущей способности сваи достигается за счет бокового трения (эффект гвоздя). При этом на территории всего свайного поля в комплексе повышается несущая способность фундамента.
          </p>
        </li>
        <li class="technology-item">
          <p class="technology-title-descr">
            Cвайный
          </p>
          <img class="technology-bg" src="/img/explain2.webp">
          <p class="technology-description">
            Отсутствие подготовительных земляных работ также значительно экономит время (и деньги!)
            Забивная свая в случае деревянного, либо каркасно-панельного дома может работать без дополнительных ростверков, и монтаж дома можно осуществлять прямо на сваю!
          </p>
        </li>
        <li class="technology-item">
          <p class="technology-title-descr">
            Ленточный
          </p>
          <img class="technology-bg" src="/img/explain3.webp">
          <p class="technology-description">
            Увеличение несущей способности традиционных видов фундаментов.Отличное решение для усиления монолитной плиты и монолитной ленты (ростверка) под кирпичные дома и дома из блоков. Возможность применения на нестабильных, малосвязных и обводненных грунтах.
          </p>
        </li>
        <li class="technology-item">
          <p class="technology-title-descr">
            Плита
          </p>
          <img class="technology-bg" src="/img/explain4.webp">
          <p class="technology-description">
            Камни в грунте не являются помехой при забивке свай.Увеличение прочности за счет внутреннего армирования. Нагрузка на железобетонную сваю равномерно распределяется по ее сечению, заполненному стальным каркасом и бетоном марки М300.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
