<section class="us-say">
  <div class="wrapper">
    <h2 class="us-say__section_title">
      О нас говорят
    </h2>
    <div class="us-say__block">
      <div class="us-say__block_left">
        <p class="us-say__block_title">
          Отзывы заказчиков
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GfRJRnPZg2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="us-say__block_right">
        <p class="us-say__block_title">
          Отзывы партнеров
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1CR7BRhvH70" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
