<section class="usp-advantages">
  <div class="usp-advantages__block_bg">
    <ul class="usp-advantages__list">
      <li class="usp-advantages__item">
        <img src="/img/icon-usp.webp">
        <p class="usp-advantages__descr">
          4 современные полуавтоматические линии
        </p>
      </li>
      <li class="usp-advantages__item">
        <img src="/img/icon-usp.webp">
        <p class="usp-advantages__descr">
          Собственный столярный цех
          по производству оконных
          и дверных блоков
        </p>
      </li>
      <li class="usp-advantages__item">
        <img src="/img/icon-usp.webp">
        <p class="usp-advantages__descr">
          Отдел контроля качества
          на производстве
        </p>
      </li>
      <li class="usp-advantages__item">
        <img src="/img/icon-usp.webp">
        <p class="usp-advantages__descr">
          Собственный конструкторский отдел гарантирует отсутствие возможных ошибок при изготовлении домокомплектов
        </p>
      </li>
    </ul>
  </div>
</section>
