<section class="working">
  <div class="wrapper">
    <div class="working__block">
      <div class="working__block_left">
        <div class="working__block_top">
          <p class="working__block_top_title">
            Как мы работаем
          </p>
          <p class="working__block_top_descr">
            Мы осуществляем монтаж круглый год. Наша технология позволяет возводить дома быстро и эффективно даже в зимний период.
          </p>
        </div>
        <div class="working__block_bottom">
          <div class="job__right-job">
            <ul class="job-list">
              <li class="job-item">
                <span class="job-span">
                  1
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Консультация
                  </p>
                  <i class="bi bi-chat-square"></i>
                  <p class="job-right-desc-bot">
                    Первичное согласование деталей проекта
                  </p>
                </div>
              </li>
              <li class="job-item">
                <span class="job-span">
                  2
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Обмен договорами
                  </p>
                  <i class="bi bi-arrow-clockwise"></i>
                  <p class="job-right-desc-bot">
                    В&nbsp;офисе или по&nbsp;электронной почте
                  </p>
                </div>
              </li>
              <li class="job-item">
                <span class="job-span">
                  3
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Предоплата
                  </p>
                  <i class="bi bi-briefcase"></i>
                  <p class="job-right-desc-bot">
                    Производство домокомплекта по&nbsp;договору после внесения аванса
                  </p>
                </div>
              </li>
              <li class="job-item">
                <span class="job-span">
                  4
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Звонок диспетчера
                  </p>
                  <i class="bi bi-telephone-inbound"></i>
                  <p class="job-right-desc-bot">
                    Согласовываем дату выезда бригады на&nbsp;объект
                  </p>
                </div>
              </li>
              <li class="job-item">
                <span class="job-span">
                  5
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Строительство
                  </p>
                  <i class="bi bi-house-door"></i>
                  <p class="job-right-desc-bot">
                    В&nbsp;согласованную дату привозим домокомплект на&nbsp;участок и&nbsp;приступаем к&nbsp;строительству
                  </p>
                </div>
              </li>
              <li class="job-item">
                <span class="job-span">
                  6
                </span>
                <div class="left-block-center">
                  <p class="job-right-desc">
                    Приемка объекта
                  </p>
                  <i class="bi bi-check2-circle"></i>
                  <p class="job-right-desc-bot">
                    Согласовываем дату выезда бригады на&nbsp;объект
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="working__block_right">
        <div class="working__block_right_form">
          <div class="working__block_right_form_top">
            <p class="working__block_right_title">
              Задать вопрос
            </p>
            <p class="working__block_right_descr">
              Наши менеджеры свяжутся с вами в течение дня
            </p>
          </div>
          <form class="form" action="">
            <label class="label_top" for="">
              <input class="input" type="text" placeholder="Ваше имя *">
              <input class="input" type="tel" placeholder="Телефон *">
            </label>
            <label class="label-bottom" for="">
              <input class="checkbox" type="checkbox">Нажимая кнопку «Задать вопрос», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных *

            </label>
            <button class="form__button" type="submit">
              Задать вопрос
            </button>
            <div class="protection">
              <div class="protection__description">
                <p class="protection_descr">
                  защита от спама reCAPTCHA
                </p>
                <a class="protection_link" href="#">Конфиденциальность -</a>
                <a class="protection_link" href="#">Условия использования</a>
              </div>
              <img class="protection_img" src="/img/ptotection.png">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
